<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Дистанционное обучение"></title-section>
            <el-image class="one_img" :src="Img4" :preview-src-list="[Img4]" alt="main" fit='contain'></el-image>

    <span class="text_content">
      Каждый учитель выбрал для себя и своих воспитанников тот ресурс, который наиболее удобен и прост в применении для каждого из участников образовательного процесса: конференц-связь, онлайн платформы РЭШ, Учи.ру, Инфоурок, Я-класс, социальные сети и мессенджеры.
      Что думают об этом учителя и ученики нашей школы:
    </span>
    <div class="flex_container_1">
        <el-image class="medium_img" :src="Img1" :preview-src-list="[Img1]" alt="1" fit='contain'></el-image>
        <el-image class="medium_img" :src="Img2" :preview-src-list="[Img2]" alt="2" fit='contain'></el-image>
        <el-image class="medium_img" :src="Img3" :preview-src-list="[Img3]" alt="3" fit='contain'></el-image>
    </div>
    <span class="text_content">
      Говорят ученики: «С одной стороны – не надо рано просыпаться, собираться в школу, сидеть на уроках, носить форму, а с другой – скучаем по школьной атмосфере, общению с одноклассниками. Что касается образовательных платформ – они высокотехнологичны, информативны и легки в применении, но мы не забываем и про учебники, выполняем задания с их помощью, на данный момент дистанционное обучение является альтернативным выходом из сложившейся ситуации.»
    </span>
    <span class="text_content">
        Говорят учителя: «Дистанционное обучение постепенно становится неотъемлемой частью жизни каждой семьи, где есть ученики или учителя. Оно подразумевает осознанную работу учащихся по предметам, что достаточно сложно. От того насколько посильным и доступным для каждого ученика окажется материал, подобранный учителем зависит успех каждого участника образовательного процесса. Мы стараемся организовать обучение таким образом, чтобы наши дети завершили этот учебный год максимально успешно ».
      Желаем дальнейшей плодотворной работы всем обучающимся, их родителям, учителям. Всем здоровья, терпения и благополучия! Надеемся на скорую встречу! Берегите себя и своих близких!
    </span>
  </div>
</template>

<script>
    import TitleSection from '@/components/TitleSection.vue'
    import Img1 from "@/assets/images/distanceLearning/1.jpg"
    import Img2 from "@/assets/images/distanceLearning/2.jpg"
    import Img3 from "@/assets/images/distanceLearning/3.jpg"
    import Img4 from "@/assets/images/distanceLearning/main.jpg"

    export default {
        data() {
            return {
                Img1,
                Img2,
                Img3,
                Img4
            }
        },
        components: {
            TitleSection
        }
    };
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>