<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Документы"></title-section>
    <div v-for="(item, index) in tableData" :key="index" v-loading="loading">
      <span class="custom-menu-item" @click="tableData[index].show = !tableData[index].show">
        <span>{{item.category}}</span>
        <span>
          <font-awesome-icon v-if="!tableData[index].show" icon="chevron-right" size="1x" />
          <font-awesome-icon v-if="tableData[index].show" icon="chevron-down" size="1x" />
        </span>
      </span>
      <el-collapse-transition>
        <div v-if="tableData[index].show">
          <ul
            style="list-style-type: none"
            v-for="element in item.data"
            :key="element.id"
            type='1'
          >
            <li>
              <a :href="'http://school12batysk.ru/server/docs/'+element.file_way" target="_blank">{{element.title}}</a>
            </li>
          </ul>
        </div>
      </el-collapse-transition>
      <el-divider></el-divider>
    </div>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import axios from "axios";

export default {
    components: {TitleSection},
  mounted() {
    axios.get("/api/docs").then(res => {
      let data = res.data
      let categories = [];
      data.forEach(el => {
        if (categories.indexOf(el.category) == -1) {
          categories.push(el.category);
          this.show[el.category] = false
        }
      })

      categories.forEach(el => {
        let element = {} 
        element.show = false
        element.category = el;
        element.data = data.filter(elem=>{
            if (elem.category == el)
                return elem
            })
        this.tableData.push(element)
      })




      this.loading = false;
    });
  },
  data() {
    return {
      show: {},
      tableData: [],
      loading: true,
    };
  },
  computed: {
    categories: function() {
      let categories = [];
      this.tableData.forEach(el => {
        if (categories.indexOf(el.category) == -1) {
          categories.push(el.category);
          this.show[el.category] = false
        }
      });
      return categories;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>