<template>
  <div class="container" v-loading="loading">
    <title-section title="Новости"></title-section>
    <new-item v-for="item in newItems" :key="item.id" :newItem="item"></new-item>
    <el-pagination
      :current-page.sync="page"
      background
      :page-size="6"
      :total="data.length"
      layout="prev, pager, next"
      @current-change="changePage()"
    ></el-pagination>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import NewItem from "@/components/NewItem.vue";
import axios from 'axios';

export default {
  mounted() {
    axios.get("/api/news").then(res => {
      this.data = res.data;
      this.newItems = this.data.slice(0, 6);
      this.loading = false;
    });
  },
  components: {
    TitleSection,
    NewItem
  },
  data() {
    return {
      page: 1,
      data: [],
      loading: false,
      newItems: []
    }
  },
  methods: {
      changePage() {
          let index = (this.page-1)*6
          this.newItems = this.data.slice(index, index+6)
      }
  }
}
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>