<template>
  <div class="container">
        <title-section title="Школьная газета"></title-section>
<div class="flex_container_2">
      <el-image class="medium_img" :src="Img1" :preview-src-list="[Img1]" fit="contain" alt="Img1"></el-image>
      <el-image class="medium_img" :src="Img2" :preview-src-list="[Img2]" fit="contain" alt="Img2"></el-image>
      <el-image class="medium_img" :src="Img3" :preview-src-list="[Img3]" fit="contain" alt="Img3"></el-image>
      <el-image class="medium_img" :src="Img4" :preview-src-list="[Img4]" fit="contain" alt="Img4"></el-image>
      <el-image class="medium_img" :src="Img5" :preview-src-list="[Img5]" fit="contain" alt="Img5"></el-image>
      <el-image class="medium_img" :src="Img6" :preview-src-list="[Img6]" fit="contain" alt="Img6"></el-image>
    </div>
    
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/newspaper/1.jpg"
import Img2 from "@/assets/images/newspaper/2.jpg"
import Img3 from "@/assets/images/newspaper/3.jpg"
import Img4 from "@/assets/images/newspaper/4.jpg"
import Img5 from "@/assets/images/newspaper/5.jpg"
import Img6 from "@/assets/images/newspaper/6.jpg"



export default {
  data() {
    return {
      Img1, Img2, Img3, Img4, Img5, Img6
    }
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>