<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
        <title-section title="Другие конкурсы" subtitle="Наши победы"></title-section>
      <el-image class="one_img" :src="Img1" :preview-src-list="[Img1]" fit="contain" alt="Img1"></el-image>
<span class="text_content">
  <strong>Гунчина Валерия</strong> <br>
победитель школьного этапа конкурса "Лучший ученик года".
Представляла школу на городском конкурсе "Лучший ученик года 2011", лауреат премии мэра.
</span>
    <div class="flex_container_2">
      <el-image class="medium_img" :src="Img2" :preview-src-list="[Img2]" fit="contain" alt="Img1"></el-image>
      <el-image class="medium_img" :src="Img3" :preview-src-list="[Img3]" fit="contain" alt="Img3"></el-image>
    </div>
    <span class="text_content">
  <strong>Беляевский Максим и Дорофеева Ксения</strong> <br>
стали стипендиатами премии мэра в 2011году
</span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/victory/other/1.jpg"
import Img2 from "@/assets/images/victory/other/2.jpg"
import Img3 from "@/assets/images/victory/other/3.jpg"

export default {
  data() {
    return {
      Img1, Img2, Img3
    }
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>