<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
        <title-section title="Спорт" subtitle="Наши победы"></title-section>

    <span class="text_content">
      
Таранухин Алексей	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Белоусова Екатерина	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
<br><br>
Вазеян Карина	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
<br><br>
Федунова Екатерина	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство Ростовской обл. г.Шахты
<br><br>
Курмак Данила	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - ЮФО, г.Таганрог, Кубок мэра
<br><br>
Рахно Анастасия	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
1-е место - ЮФО, г.Таганрог, Кубок мэра<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Доманова Дарья	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - ЮФО, г.Таганрог, Кубок мэра<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - ЮФО, г.Таганрог, Кубок мэра<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Зиновьева Кристина	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - ЮФО, г.Таганрог, Кубок мэра<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Змеева Полина	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
1-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - ЮФО, г.Таганрог, Кубок мэра<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Голубова Анна	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
3-е место - Чемпионат и Первенство Ростовской обл. г.Шахты<br>
3-е место - Чемпионат России г.Рязань «Россия молодая»<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Шаталов Артем	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Победа Юлия	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Юнусова Вероника	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Корниенко Илья	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Коновалова Дарья	<br>
1-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Сирота Артем	<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Титова Олеся	<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Корниенко Вероника	<br>
2-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Сердюкова Дарья	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Морозова Вика	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
Бикбаев Ренат	<br>
3-е место - Чемпионат и Первенство СК «Грандмастер»
<br><br>
    </span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>