<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Ученики года" subtitle="Наши победы"></title-section>
    <span class="text_content">
      Согласно плану учебно-воспитательной работы МОУ СОШ №12 в 3-й четверти был проведен конкурс «Лучший ученик года».
      <br />Конкурс проходил в два этапа.
      <br />На первом этапе конкурса жюри оценивало «Портфолио достижений» учащихся.
      <br />В конкурсе принимали участие учащиеся 3 -10 классов. Из классов начальной школы в конкурсе принял участие 3-В класс (Борисова Т.Н.), 4-а класс (Корелина Т.Е.), 4-Б класс (Меркулова Л.А.).
      В первом этапе конкурса приняли участие 28 учащихся.
      Ко 2 этапу жюри были допущены лучшие портфолио 16 учащихся 3 - 9 классов. На представление «Визитной карточки» были приглашены по два представителя от класса во главе с классными руководителями.
      Победители конкурса определялись в 3 возрастных группах:
      <br />1 группа – 3- 4-е классы;
      <br />2 группа – 5-7 –е классы;
      <br />3 группа – 8-9 –е классы.
      <br />
    </span>
    <div class="flex_container_2">
      <el-image class="medium_img" :src="Img1" :preview-src-list="[Img1]" fit="contain" alt="Img1"></el-image>
      <el-image class="medium_img" :src="Img3" :preview-src-list="[Img3]" fit="contain" alt="Img3"></el-image>
    </div>
    <span class="text_content">По итогам 2 этапов  школьного конкурса «Лучший ученик года» среди уч-ся 3-4–х классов  победительницей стала  Малыхина Мария (4-А класс). Призерами стали Сидина Елизавета и Лазарева Дарина, ученицы 3-в класса.
    Среди уч-ся 5-7 классов первое месту присуждено ученице 5-Б класса Максимовой Юлии. Призерами конкурса стали Найденова Елизавета (6-а класс) и  Шаталов Артем (5-а класс).
    Среди уч-ся 8-9-х классов победитель определен не был, т.к. никто из участников не смог показать значительного роста своего результата за 2011-2012 учебный год. (отсутствует динамика достижений по разным направлениям: олимпиады, конкурсы, конференции и т.д.).
Призерами в этой возрастной группе стали Галенко Алина (9-Б) и Шеина Виктория (9-А), занявшие соответственно второе и третье места.</span>
      <el-image class="one_img" :src="Img2" :preview-src-list="[Img2]" fit="contain" alt="Img2"></el-image>
      <span class="text_content">
        На городском конкурсе «Лучший ученик 2012 г.»  МБОУ СОШ №12 представляла ученица 10-а класса Шаурман Алена.
Алена –член школьного ученического самоуправления, вице – президент школьного научного общества. Она активная участница всех школьных мероприятий. Алена добрая, отзывчивая.
Педагогический коллектив и учителя школы поздравляют Алену с достойным выступлением на городском конкурсе «Лучший ученик 2012 г.» и желают ей успехов в учебе и общественной жизни.Мы гордимся тобой, Алена!
      </span>

  </div>

</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/victory/student_year/1.jpg"
import Img2 from "@/assets/images/victory/student_year/2.jpg"
import Img3 from "@/assets/images/victory/student_year/3.jpg"


export default {
  data() {
    return {
      Img1, Img2, Img3
    }
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>