<template>
  <div class="container">
    <title-section title="Коллектив" subtitle="Информация о школе"></title-section>
    <el-input v-model="search" size="mini" placeholder="Введите для поиска" />
    <el-table
      :data="tableData.filter(data => !search || data.surname.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-image
            v-if="props.row.img_way"
            class="medium_img"
            :src="props.row.img_way != null ? 'http://school12batysk.ru/server/imgs/'+props.row.img_way : null"
            :preview-src-list="props.row.img_way != null ? ['http://school12batysk.ru/server/imgs/'+props.row.img_way] : null"
            fit="contain"
            alt="Img"
          >
            <div slot="error" class="image_not" style="background-color: #eee;  ">
              <div
                style="display:flex; flex-direction: column; align-items: center; justify-content: center; height: 100%"
              >
                <font-awesome-icon icon="image" size="3x" style="margin-left: 10px; display: block"></font-awesome-icon>
                <span style="margin-left: 10px">Нет фото</span>
              </div>
            </div>
          </el-image>
          <p>ФИО: {{ props.row.surname + ' ' + props.row.name + ' ' + props.row.lastname}}</p>
          <p>Должность: {{ props.row.post }}</p>
          <p v-if="props.row.education">Образование: {{ props.row.education }}</p>
          <p v-if="props.row.experience">Стаж: {{ props.row.experience }}</p>
        </template>
      </el-table-column>
      <el-table-column label="ФИО" prop="fio" sortable></el-table-column>
      <el-table-column
        label="Тип должности"
        prop="category"
        :filters="sortPosts"
        :filter-method="filterPosts"
        filter-placement="bottom-end"
      ></el-table-column>
    </el-table>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import axios from "axios";
export default {
  mounted() {
    axios.get("/api/workers").then(res => {
      res.data.forEach(el => {
        let element = {};
        element.fio =
          el.surname + " " + el.name[0] + ". " + el.lastname[0] + ".";
        element = Object.assign(element, el);
        this.tableData.push(element);
      });
      this.loading = false;
    });
  },
  data() {
    return {
      loading: true,
      tableData: [],
      dataa: [
        {
          category: "Учитель",
          education: "РГПУ",
          experience: "18",
          fio: "Власенко Н. В.",
          id: "12",
          img_way: "workers1592142143.png",
          lastname: "Викторовна",
          name: "Наталья",
          post: "Учитель начальных классов",
          surname: "Власенко"
        }
      ],
      search: ""
    };
  },
  computed: {
    sortPosts: function() {
      let categories = [];
      this.tableData.forEach(el => {
        if (
          categories.indexOf(
            JSON.stringify({ text: el.category, value: el.category })
          ) == -1
        ) {
          categories.push(
            JSON.stringify({ text: el.category, value: el.category })
          );
        }
      });
      categories = categories.map(item => {
        return JSON.parse(item);
      });
      return categories;
    }
  },
  methods: {
    filterPosts(value, row) {
      return row.category === value;
    }
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
.image_not {
  height: 100%;
}
</style>