<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Основные сведения" subtitle="Образование"></title-section>
    <span class="custom-menu-item" @click="show1=!show1">
      <span class="custom-menu-title">Описание образовательных программ</span>
      <span>
        <font-awesome-icon v-if="!show1" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show1" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show1">
        <span class="custom-menu-text-content">
          Образовательная программа школы способствует развитию и социализации,
          учащихся на основе усвоения ими содержания общеобразовательных программ начального,
          основного, среднего общего образования через:
          <ul>
            <li>Обеспечение условий для обучения, воспитания и развития учащихся в соответствии с их склонностями и способностями, интересами, состоянием здоровья;</li>
            <li>Создание основы для осознанного выбора и последующего освоения профессиональных образовательных программ;</li>
            <li>Создание благоприятных условий для равностороннего развития личности через образование в области искусства;</li>
            <li>Освоение дополнительных образовательных программ, основанных на ценностях русской национальной культуры;</li>
            <li>Освоение отдельных общеобразовательных программ повышенного уровня сложности профильного направления.</li>
          </ul>
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show3=!show3">
      <span
        class="custom-menu-title"
      >О численности обучающихся по реализуемым образовательным программам за счет бюджетных ассигнований федерального бюджета, бюджетов субъектов РФ, местных бюджетов и по договорам об образовании за счет средств физических и/или юридических лиц</span>
      <span>
        <font-awesome-icon v-if="!show3" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show3" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show3">
        <span class="custom-menu-text-content">
          Численность обучающихся по реализуемым общеобразовательным программам за счет бюджета субъекта Российской Федерации на 2019-2020 учебный год:
          начальное общее образование: 441
          основное общее образование: 469
          среднее общее образование: 43
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show4=!show4">
      <span
        class="custom-menu-title"
      >Свидетельство о государственной аккредитации (действительно до 28.02.2025г)</span>
      <span>
        <font-awesome-icon v-if="!show4" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show4" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show4">
        <div class="flex_container_2">
          <el-image
            class="medium_img"
            :src="Img1"
            :preview-src-list="[Img1]"
            fit="contain"
            alt="Img1"
          ></el-image>
          <el-image
            class="medium_img"
            :src="Img2"
            :preview-src-list="[Img2]"
            fit="contain"
            alt="Img2"
          ></el-image>
        </div>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show5=!show5">
      <span
        class="custom-menu-title"
      >Аннотации к рабочим программам дисциплин (по каждой дисциплине в составе образовательной программы)</span>
      <span>
        <font-awesome-icon v-if="!show5" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show5" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show5">
        <span class="custom-menu-text-content">
          Образовательная программа школы способствует развитию и социализации,
          учащихся на основе усвоения ими содержания общеобразовательных программ начального,
          основного, среднего общего образования через:
          <ul>
            <li>Обеспечение условий для обучения, воспитания и развития учащихся в соответствии с их склонностями и способностями, интересами, состоянием здоровья;</li>
            <li>Создание основы для осознанного выбора и последующего освоения профессиональных образовательных программ;</li>
            <li>Создание благоприятных условий для равностороннего развития личности через образование в области искусства;</li>
            <li>Освоение дополнительных образовательных программ, основанных на ценностях русской национальной культуры;</li>
            <li>Освоение отдельных общеобразовательных программ повышенного уровня сложности профильного направления.</li>
          </ul>
          <br />Учебный план школы разработан на основе федерального компонента государственного стандарта общего образования, федерального государственного стандарта и федерального базисного учебного плана. Для удовлетворения познавательных интересов учащихся и развития содержания базовых учебных предметов в учебный план введены индивидуальные, факультативные и обязательные элективные предметы. В образовательные области регионального учебного плана школа ввела ряд новых предметов.
          Школа работает по программе непрерывного социально-экономического образования и воспитания учащихся 1–11 классов. Социально-экономическое воспитание направлено на подготовку личности к успешной производственно-хозяйственной деятельности, формирования потребностей, интересов и иных социально-психологических качеств, а главное – образа мышления, поведения и деятельности, соответствующих экономическим и нравственно-правовым основам общества. Для обеспечения безопасности учащихся в различных жизненных ситуациях с 5 по 11 класс ведется преподавания предмета основы безопасности жизнедеятельности.
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show9=!show9">
      <span class="custom-menu-title">Наименование образовательных программ</span>
      <span>
        <font-awesome-icon v-if="!show9" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show9" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show9">
        <span class="custom-menu-text-content">
          Наименование программы: Основная образовательная программа начального общего образования (ФГОС).
          <br />
          <br />Сроки реалзации: 2017-2018.
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show11=!show11">
      <span
        class="custom-menu-title"
      >Результаты опроса населения города Батайска о качестве работы муниципальных образовательных организаций</span>
      <span>
        <font-awesome-icon v-if="!show11" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show11" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show11">
        <span class="custom-menu-text-content">
          В ходе исследования преследовалась цель изучения,
          обобщения и анализа общественного мнения о качестве работы
          муниципальных образовательных организаций. Анкета для проведения опроса
          включала в себя 18 вопросов, касающихся как образовательной системы города в целом,
          так и образовательных организаций в частности. Вопросы анкеты были составлены в соответствии с
          основными критериями оценки деятельности муниципальных учреждений, оказывающих социальные услуги в сфере образования:
          <ul>
            <li>Критерий открытости и доступности информации об образовании</li>
            <li>Критерий комфортности условий предоставления услуг и доступности их получения</li>
            <li>Критерий доброжелательности, вежливости, компетентности работников организации</li>
            <li>Критерий удовлетворенности качеством оказания услуг</li>
          </ul>
          <br />Каждая группа содержала 4-5 вопросов, сгруппированных согласно обозначенным выше критериям.
          По каждому вопросу респондентам предлагалось от 3 до 5 вариантов ответов.
          Вопросов с открытым вариантом ответа предусмотрено не было.
          По результатам опроса предполагалось выявить степень удовлетворенности родительской общественности качеством оказания услуг, доступности и комфортности процесса предоставления услуг, уровень вежливости и профессиональной компетентности педагогических работников муниципальных образовательных организаций, а также насколько сведения о деятельности муниципальных образовательных организаций открыты и доступны для родительской общественности, в достаточном ли объеме ведется работа по инормированию населения.
          Опрос населения о качестве работы муниципальных общеобразовательных организаций проводился с 12.05.2016 по 18.05.2016 путем анкетирования родителей обучающихся в образовательных учреждениях города.
          Целевая аудитория – родители обучающихся.
          В результате опроса населения было опрошено 1554 респондента.
          По каждой образовательной организации по каждому критерию был определен средний балл по 10-тибалльной шкале, а также был определен средний балл по каждому критерию по муниципальным образовательным организациям в целом.
          В ходе анализа анкет были выявлены следующие результаты:
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show16=!show16">
      <span
        class="custom-menu-title"
      >Об уровне образования, о формах обучения, о нормативном сроке обучения, о языках, на которых осуществляется обучение</span>
      <span>
        <font-awesome-icon v-if="!show16" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show16" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show16">
        <span class="custom-menu-text-content">
          Обучение детей в школе начинается с достижения детьми возраста 6 лет 6 месяцев при отсутствии противопоказаний по состоянию здоровья, но не позже достижения ими возраста восьми лет.
          Требование обязательности общего образования применительно к конкретному обучающемуся сохраняет силу до достижения им возраста восемнадцати лет, если соответствующее образование не было получено обучающимся ранее.
          Учреждение самостоятельно планирует и осуществляет свой образовательный процесс в рамках, предусмотренных законодательством Российской Федерации, настоящим Уставом и договором с Учредителем.
          В соответствии со п.1 ст.14 Закона РФ «Об образовании в Российской Федерации» в Российской Федерации гарантируется получение образования на государственном языке Российской Федерации, а также выбор языка обучения и воспитания в пределах возможностей, предоставляемых системой образования.
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show17=!show17">
      <span class="custom-menu-title">О реализуемых образовательных программах</span>
      <span>
        <font-awesome-icon v-if="!show17" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show17" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show17">
        <span class="custom-menu-text-content">
          Среднее общее образование является основой для получения начального профессионального, среднего профессионального и высшего профессионального образования.
          C учетом потребностей и возможностей личности общеобразовательные программы в МБОУ СОШ № 12 осваиваются:
          в очной форме,
          в форме домашнего обучения (основанием для организации обучения на дому является заключение лечебно-профилактического учреждения).
          сочетанием указанных форм и иными формами, не противоречащими законодательству РФ.
          Для всех форм получения образования в рамках конкретной основной общеобразовательной программы действует единый федеральный государственный образовательный стандарт.
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>

    <span class="custom-menu-item" @click="show19=!show19">
      <span class="custom-menu-title">Организация индивидуального обучения на дому</span>
      <span>
        <font-awesome-icon v-if="!show19" icon="chevron-right" size="1x" />
        <font-awesome-icon v-if="show19" icon="chevron-down" size="1x" />
      </span>
    </span>
    <el-collapse-transition>
      <div v-if="show19">
        <span class="custom-menu-text-content">
          Основанием для организации обучения на дому обучающихся, нуждающихся в длительном лечении, является:
          <ul>
            <li>заключение медицинской организации о необходимости обучения на дому (справка ВКК, заключение «Психоневрологического диспансера»);</li>
            <li>письменное заявление родителей (законных представителей) на имя директора общеобразовательного учреждения с просьбой об организации обучения на дому на период, указанный в медицинском заключении.</li>
          </ul>
          Отношения между общеобразовательным учреждения и родителями (законными представителями) обучающихся индивидуально на дому и условия организации образовательного процесса оформляются договором.
          Организация обучения на дому по общеобразовательным программам проводится по индивидуальному учебному плану, который является приложением к договору (образец договора в постановлении № 1).
          Учебная нагрузка определяется в соответствии с федеральными государственными образовательными стандартами и федеральными государственными требованиями, санитарно-эпидемиологическими требованиями к условиям и организации обучения.
          Индивидуальный учебный план разрабатывается общеобразовательным учреждением на основе примерного учебного плана с учетом индивидуальных особенностей ребенка, медицинских рекомендаций, согласовывается с родителями (законными представителями) обучающегося на дому и утверждается приказом директора общеобразовательного учреждения.
          Обучение на дому проводится в соответствии с расписанием, согласованным с родителями (законными представителями) обучающегося, утверждается приказом по общеобразовательному учреждению.
          Учителем, обучающим ребенка на дому, заполняется журнал учета проведенных занятий, где записывается дата занятия, тема и содержание пройденного материала, количество проведенных часов, домашнее задание и отметки.
          Освоение образовательной программы (отдельной части или всего объема учебного курса) сопровождается промежуточной аттестацией обучающегося в формах, определенных учебным планом.
          Общие сведения об обучающемся на дому, данные о текущей успеваемости, результаты промежуточной аттестации вносятся в классный журнал соответствующего класса.
          По завершении обучающимися на дому освоения основных образовательных программ основного общего и (или) среднего общего образования проводится государственная итоговая аттестация в порядке, формах и сроки в соответствии с действующим законодательством.
          Обучающимся, успешно прошедшим государственную итоговую аттестацию, выдается документ об образовании.
          Контроль за организацией обучения больных детей на дому осуществляется заместителем директора по учебно-воспитательной работе.
          При назначении учителей, работающих с больными учащимися, преимущество отдается педагогическим работникам, работающим в данном классе.
          При невозможности организовать обучение на дому по следующим причинам: неудовлетворительные жилищно-бытовые условия, наличие в доме агрессивных животных и других явлений, опасных для жизни и здоровья учителей (согласно акту обследования), администрация общеобразовательного учреждения имеет право осуществлять индивидуальное обучение в условиях школы.
        </span>
      </div>
    </el-collapse-transition>
    <el-divider></el-divider>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/school_info/education/1.jpg";
import Img2 from "@/assets/images/school_info/education/2.jpg";

export default {
  data() {
    return {
      show1: false,
      show2: false,
      show3: false,
      show4: false,
      show5: false,
      show6: false,
      show7: false,
      show8: false,
      show9: false,
      show10: false,
      show11: false,
      show12: false,
      show13: false,
      show14: false,
      show15: false,
      show16: false,
      show17: false,
      show18: false,
      show19: false,
      Img1,
      Img2
    };
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>