<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Основные сведения" subtitle="Информация о школе"></title-section>
    <el-collapse>
      <el-collapse-item title="История" name="История">
        <history-school></history-school>
      </el-collapse-item>
      <el-collapse-item title="Руководитель" name="Руководитель">
        <span class="text_content">Директор: Плеханова Лариса Викторовна</span>
        <el-image class="one_img" :src="ImgDirector" :preview-src-list="[ImgDirector]" fit="contain" alt="ImgDirector"></el-image>
      </el-collapse-item>
      <el-collapse-item title="Ступени образования">
        <span
          class="text_content"
        >МБОУ СОШ № 12 осуществляет образовательный процесс в соответствии с уровнями общеобразовательных программ трех ступеней общего образования:</span>
        <span class="text_content">
          I уровень – начальное общее образование (нормативный срок освоения 4 года)
          II уровень – основное общее образование (нормативный срок освоения 5 лет)
          III уровень – среднее общее образование (нормативный срок освоения 2 года)
        </span>
        <span class="text_content">Нормативный (общий) срок обучения: 11 лет</span>
      </el-collapse-item>
      <el-collapse-item title="Иформация о формах обучения">
        <span class="text_content">Форма обучения - в образовательной организации</span>
      </el-collapse-item>
      <el-collapse-item title="Сведения о численности">
        <span class="text_content">Обучающихся в 2019-2020 учебном году:</span>
        <span class="text_content">
          Численность обучающихся по реализуемым образовательным программа в МБОУ СОШ №12 составляет 953 человека.
          I уровень - 441 обучающийся, II уровень - 469 обучающихся, III уровень - 43 обучающихся.
        </span>
      </el-collapse-item>
      <el-collapse-item title="Режим работы">
        <span class="text_content">В МБОУ СОШ № 12 устанавливается следующий режим занятий:</span>
        <ul>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />неделя шестидневная для 8-11 классов, допускается использование шестого дня для дополнительного, индивидуального и развивающего образования;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />начало занятий в I смене - 8.00, во II смене - в 13.25
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />во II смене не могут обучаться учащиеся 1-х, 9-х и 11-х классов;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />продолжительность урока не более 40 минут;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />учебная нагрузка определяется в соответствии с учебным планом и СанПиН;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />все виды занятий проводятся по расписанию, утверждённым директором;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />между уроками предусматриваются перемены: две по 10 минут, остальные – не менее 5 минут;
          </li>
          <li>
            <font-awesome-icon icon="square-full" size="1x" class="list_icon" />обучающиеся питаются в соответствии с утвержденным графиком
          </li>
        </ul>
      </el-collapse-item>
      <el-collapse-item title="График работы">
        <span
          class="text_content"
        >Учебный год в МБОУ СОШ № 12 начинается 1 сентября. Продолжительность учебного года в 1-х классах составляет 33 недели, во 2-4х классах - 34 недели, 
        в 5-8, 10 классах - 34 недели, в 9х, 11 классах - 34 недели. Продолжительность каникул в течение учебного года составляет не менее 30 календарных дней, 
        летом — не менее 8 недель. 
        Обучающимся в первых классах в течение года устанавливаются дополнительные недельные каникулы.</span>
      </el-collapse-item>
    </el-collapse>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import HistorySchool from "@/components/HistorySchool.vue";
import ImgDirector from "@/assets/images/school_info/director.jpg";

export default {
  data() {
      return {
        ImgDirector
      }
    },
  components: {
    TitleSection,
    HistorySchool
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>