<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Материальное и техническое обеспечение учебного процесса" subtitle="Информация о школе"></title-section>
    <span
      class="text_content"
    >Школа №12 после капитального ремонта 2013г. - это здание современного дизайна</span>
    <el-image class="one_img" :src="Img1" :preview-src-list="[Img4]" alt="main" fit="contain"></el-image>
    <span class="text_content">
      В школе создана хорошая материально-техническая база:
      - спортивный зал,
      - спортивная площадка,
      - компьютерный класс на 11 рабочих мест учеников,
      - мобильный компьютерный класс из 4х ноутбуков,
      - 15 учебных кабинетов оснащены интерактивными досками с мультимедиа проекторами,
      - школа имеет доступ к сети Internet на скорости более 100 Мбит/с
      - комплект оборудования для проведения видеоконференцсвязи позволяет учителям использовать в процессе обучения дистанционные образователные технологии
      - музыкальный зал,
      - библиотека,
      - медицинский кабинет,
      - кабинет технологии для девочек,
      - мастерская для мальчиков,
      - столовая и буфет на 80 посадочных мест.
    </span>

    <div class="flex_container_1">
      <el-image class="medium_img" :src="Img2" :preview-src-list="[Img1]" alt="1" fit="contain"></el-image>
      <el-image class="medium_img" :src="Img3" :preview-src-list="[Img2]" alt="2" fit="contain"></el-image>
      <el-image class="medium_img" :src="Img4" :preview-src-list="[Img3]" alt="3" fit="contain"></el-image>
    </div>
    <span class="text_content">
      В школе создан методический кабинет, в котором подобраны необходимая методическая, дидактическая и художественная литература, словари, а также аудио- и видеоматериалы.
      Немаловажную роль в здоровом образе жизни ребёнка имеет правильно организованное и сбалансированное питание. В организации питания учитываются возрастные особенности учащихся, медицинские показатели, вкусовые пристрастия. Питание сбалансировано и витаминизировано за счёт включения в меню натуральных соков, фруктов, овощных салатов. Питание организовано за счёт бюджета города и родительских средств. Горячим питанием обеспечено 94% школьников, бесплатным питанием обеспечено 49% обучающихся.
    </span>
    <span
      class="text_content"
    >МБОУ СОШ № 12 состоит из двух зданий: двухэтажного и одноэтажного. В двухэтажном здании находятся: 14 современных кабинетов, учебная часть, спортзал, кабинет ОБЖ, кабинет директора и зам.директора по ВР, столовая, медкабинет, библиотека. Имеется пвндус для доступа в здание инвалидов и лиц с ограниченными возможностями здоровья. В одноэтажном здании располагаются кабинет технологии для девочек, мастерские для мальчиков, музыкальный зал. Материально- техническая база школы постоянно совершенствуется и обновляется.</span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/school_info/tehnic/1.jpg";
import Img2 from "@/assets/images/school_info/tehnic/2.jpg";
import Img3 from "@/assets/images/school_info/tehnic/3.png";
import Img4 from "@/assets/images/school_info/tehnic/4.jpg";

export default {
  data() {
    return {
      Img1,
      Img2,
      Img3,
      Img4
    };
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>