<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
        <title-section title="Методическое обеспечение учебного процесса" subtitle="Информация о школе"></title-section>
    <span
      class="text_content"
    >Алгоритм разработки дистанционного урока</span>
    <span class="text_content">
      <ul>
            <li>Определить тему дистанционного урока.</li>
            <li>Определить тип дистанционного урока.</li>
            <li>Выбрать модель дистанционного урока.</li>
            <li>Определить форму проведения дистанционного урока.</li>
            <li>Модернизировать урок по результатам опытной эксплуатации.</li>
            <li>Провести урок.</li>
            <li>Провести анализ урока.</li>
        </ul>
    </span>

    
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>