<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
        <title-section title="Безопасность/Анитеррор" subtitle="Информация о школе"></title-section>
    <span
      class="text_content"
    >Центр по противодействию экстремизму ГУ МВД России по Ростовской области - (863) 249 37 54; (863) 249 39 40<br>
секретариат Уполномоченного по правам ребёнка в Ростовской одласти (863) 2800 608; (863) 2800 609<br>
ГБОУ РО "Областной центр психолого-педагогической реабилитации и коррекции" (863) 251 14 10<br>
Телефон доверия ГУ МВД России по Ростовской области (863) 249 24 77 (круглосуточно)<br>
Телефон доверия ОРЧ Собственной Безопасности (863) 249 12 93 (с 10 до 17, кроме выходных и праздничных дней)<br>
Телефон доверия ГИБДД (863) 249 34 04 (круглосуточно)<br>
Телефон доверия Управления вневедомственной охраны (863) 234 98 33 (круглосуточно)<br>
Телефон доверия Управления МВД России по г.Ростову-на-Дону (863) 249 14 28 (круглосуточно)</span>

    
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>