<template>
    <div class='container'>
    <el-button class="button" @click="toNormEye()">ОБЫЧНАЯ ВЕРСИЯ САЙТА</el-button>
    <span @click="toBadMenu()">
      <h1>МБОУ СОШ №12</h1>
      <h3>город Батайск</h3>
    </span>
    <span class="backmenu" v-if="!$store.state.isMenuBadEye" @click="toBadMenu()">На главное меню</span>
    </div>
</template>

<script>
    export default {
        methods: {
            toNormEye() {
                this.$store.commit('changeIsBadEye',false)
                if (this.$store.state.isMenuBadEye)
                    this.$router.push('/news')
            },
            toBadMenu() {
                this.$store.commit('changeIsMenuBadEye', true)
                this.$router.push('/BadEyeNavMenu')
            }
        }
    }
</script>

<style lang="scss" scoped>
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    padding: 10px 20px;
    align-items: center;
    span {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: 2vh;
      h1 {
          font-size: 2rem;
      }
      h3 {
          font-size: 1.5rem;
      }
    }
    .backmenu {
        cursor: pointer;
        text-decoration: underline;
        font-size: 1.5rem;
    }
    .backmenu:hover {
        text-decoration: none;
    }
  }
</style>