<template>
  <div>
    <el-menu
      class="menu_container"
      mode="vertical"
      background-color="#33b1ff"
      text-color="white"
      active-text-color="#ffbb8b"
      :default-active="$router.currentRoute.path.indexOf('admin') != -1? 'admin' : $router.currentRoute.path.slice(1)"
      @select="Route"
    >
      <el-menu-item index="news">Новости</el-menu-item>
      <el-menu-item index="distanceLearning">Дистанционное обучение</el-menu-item>
      <el-submenu index="school_info">
        <template slot="title">Информация о школе</template>
        <el-menu-item index="school_info/general">Основные сведения</el-menu-item>
        <el-menu-item index="school_info/collective">Коллектив</el-menu-item>
        <el-menu-item index="school_info/education">Образование</el-menu-item>
        <el-menu-item index="school_info/Materialtechnicgiving">Материально-техническое обеспечение</el-menu-item>
        <el-menu-item
          index="school_info/MethodGivingStudy"
        >Методическое обеспечение учебного процесса</el-menu-item>
        <el-menu-item index="school_info/SecurityAntiterror">Безопасность/Антитеррор</el-menu-item>
      </el-submenu>

      <el-menu-item index="docs">Документы</el-menu-item>
      <el-submenu index="victory">
        <template slot="title">Наши победы</template>
        <el-menu-item index="victory/StudentYearVictory">Ученики года</el-menu-item>
        <el-menu-item index="victory/SportVictory">Спортивные победы</el-menu-item>
        <el-menu-item index="victory/OtherVictory">Другие конкурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="useful">
        <template slot="title">Полезное</template>
        <el-menu-item index="useful/InfoSecurity">Информационная безопасность</el-menu-item>
        <el-menu-item index="useful/HotLines">Горячие линии</el-menu-item>
        <el-menu-item index="useful/LinksUse">Интернет-ресурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="liblary">
        <template slot="title">Бибилиотека</template>
        <el-menu-item index="liblary/general">Общая информация</el-menu-item>
        <el-menu-item index="liblary/actualbooks">Список актуальных учебников</el-menu-item>
      </el-submenu>
      <el-menu-item index="schoolpaper">Школьная газета</el-menu-item>

      <el-menu-item index="admin" v-if="$store.state.isAuth">Панель администратора</el-menu-item>
    </el-menu>
  </div>
</template>

<script>
export default {
  beforeMount() {
    if (this.$store.state.isBadEye == false) this.$router.push("/news");
  },
  methods: {
    Route(index) {
      this.$store.commit("changeIsMenuBadEye", false);
      this.$router.push("/" + index);
    }
  }
};
</script>

<style lang="scss" scoped>
.menu_container {
  width: 992px;
  min-height: 80vh;
  background-color: white;
  margin: auto;
  box-sizing: border-box;
  padding: 20px 80px;
  border: 1px solid #33b1ff;
  border-bottom: none;
}
</style>