<template>
  <div>
    <div class="top_container" v-if="!$store.state.isBadEye">
      <div class="contacts">
        <div>
          <h2>Контакты</h2>
          <span style="display:block">Приемная комиссия:</span>
          <span>(86354) 4-53-84, 9-42-87</span>
          <span style="display:block; margin-top: 10px;">Почта:</span>
          <span>bataysk_sc12@mail.ru</span>
        </div>
        <div>
          <h2>Адрес</h2>
          <span>Ул.Тельмана, д.154</span>
        </div>
      </div>
      <div></div>
      <div class="social_and_auth">
        <h2>Мы в сети</h2>
        <el-row>
          <el-col :span="5">
            <a href="https://vk.com/active_12" target="_blank">
              <font-awesome-icon :icon="['fab', 'odnoklassniki-square']" size="3x" class="icon" />
            </a>
          </el-col>
          <el-col :span="5" :offset="2">
            <a href="https://www.instagram.com/shkola12bataisk/" target="_blank">
              <font-awesome-icon :icon="['fab', 'instagram']" size="3x" class="icon" />
            </a>
          </el-col>
        </el-row>
        <span style="display: block; margin-top: 80px;">Для администратора:</span>
        <span class="link_span" @click="logout()" v-if="$store.state.isAuth">Выход</span>
        <span class="link_span" @click="$router.push('/adminauth')" v-else>Вход</span>
      </div>
    </div>
    <div class="bottom_container" :class="{badEye: $store.state.isBadEye}">
      <p>© Муниципальное бюджентное общеобразовательное учреждение средняя образовательная школа №12 город Батайск</p>
      <p>
        Учридитель -
        <a href="уо-батайск.рф/" target="_blank">Управление образования города Батайска</a>
      </p>
    </div>
  </div>
</template>

<script>
import axios from "axios";
export default {
  methods: {
    logout() {
      axios({
        method: "post",
        url: "/api/sign/delete",
        headers: {
          Token: localStorage.getItem("token")
        }
      });
      this.$store.commit("changeIsAuth", false);
      localStorage.setItem("token", "");
      this.$router.push("/adminauth");
    }
  }
};
</script>

<style lang="scss" scoped>
.top_container {
  height: auto;
  background-color: #0072c3;
  padding: 10px 50px 30px;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: space-evenly;
}

.contacts,
.social_and_auth {
  width: 180px;
  .icon {
    cursor: pointer;
  }
}

.social_and_auth a {
    color: white;
}

h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

.link_span {
  cursor: pointer;
  border-bottom: 1px solid white;
}
:hover {
  border-bottom: none;
}
.bottom_container {
  padding: 10px 0;
  background-color: #1192e8;
  color: white;
  p {
    font-size: 0.8rem;
    text-align: center;
  }
  p:nth-of-type(2) {
    margin-top: 5px;
  }
  a {
    color: white;
    text-decoration: none;
    font-weight: 500;
  }
  a:hover {
    text-decoration: underline;
  }
}

.bottom_container.badEye {
   background-color: rgb(245, 245, 245);;
  color: black;
  a {
    font-size: 1.5rem;
    color: black;
  }
  p {
    font-size: 1.2rem;
  }
}

@media (max-width: 710px) {
  .top_container {
    align-items: center;
  }
}

@media (min-width: 1200px) {
  .contacts,
  .social_and_auth {
    width: 11vw;
  }
}

@media (max-width: 480px) {
  .top_container {
    justify-content: center;
  }
}
</style>