<template>
  <div>
    <top-block></top-block>
    <slider></slider>
    <logo></logo>

  </div>
</template>

<script>
  import TopBlock from "@/components/TopBlock.vue"
  import Slider from "@/components/Slider.vue"
  import Logo from "@/components/Logo.vue"



  export default {
    components: {
      TopBlock, Slider, Logo
    }
  }
</script>

<style lang="scss" scoped>

</style>