<template>
  <div class="container">
    <font-awesome-icon icon="bars" size="3x" @click="$router.push('/navmobile')" />
    <span @click="$router.push('/news')">
      <h1>МБОУ СОШ №12</h1>
      <h3>город Батайск</h3>
    </span>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
.container {
  display: none;
}

@media (max-width: 710px) {
  .container {
    display: flex;
    background-color: #33b1ff;
    color: white;
    padding: 10px 20px;
    align-items: center;
    span {
      display: block;
      width: 100%;
      text-align: center;
    }
  }
}
</style>