<template>
  <div class="drawer">
    <div class="menu_header">
      <span>Меню</span>
      <i class="el-icon-close close_button" @click="$router.go(-1)"></i>
    </div>
    <el-divider></el-divider>

    <div class="for_low_eye">
      <span class="text_low_eye" @click="toBadEye()">ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ</span>
    </div>
    <el-menu
    class="menu_container"
      mode="vertical"
      background-color="#33b1ff"
      text-color="white"
      active-text-color="#ffbb8b"
      :default-active="$router.currentRoute.path.indexOf('admin') != -1? 'admin' : $router.currentRoute.path.slice(1)"
      @select="Route"
    >
      <el-menu-item index="news">Новости</el-menu-item>
      <el-menu-item index="distanceLearning">Дистанционное обучение</el-menu-item>
      <el-submenu index="school_info">
        <template slot="title">Информация о школе</template>
        <el-menu-item index="school_info/general">Основные сведения</el-menu-item>
        <el-menu-item index="school_info/collective">Коллектив</el-menu-item>
        <el-menu-item index="school_info/education">Образование</el-menu-item>
        <el-menu-item index="school_info/Materialtechnicgiving">Материально-техническое обеспечение</el-menu-item>
        <el-menu-item index="school_info/MethodGivingStudy">Методическое обеспечение учебного процесса</el-menu-item>
        <el-menu-item index="school_info/SecurityAntiterror">Безопасность/Антитеррор</el-menu-item>
      </el-submenu>
      
      <el-menu-item index="docs">Документы</el-menu-item>
      <el-submenu index="victory">
        <template slot="title">Наши победы</template>
        <el-menu-item index="victory/StudentYearVictory">Ученики года</el-menu-item>
        <el-menu-item index="victory/SportVictory">Спортивные победы</el-menu-item>
        <el-menu-item index="victory/OtherVictory">Другие конкурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="useful">
        <template slot="title">Полезное</template>
        <el-menu-item index="useful/InfoSecurity">Информационная безопасность</el-menu-item>
        <el-menu-item index="useful/HotLines">Горячие линии</el-menu-item>
        <el-menu-item index="useful/LinksUse">Интернет-ресурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="liblary">
        <template slot="title">Бибилиотека</template>
        <el-menu-item index="liblary/general">Общая информация</el-menu-item>
        <el-menu-item index="liblary/actualbooks">Список актуальных учебников</el-menu-item>
      </el-submenu>
      <el-menu-item index="schoolpaper">Школьная газета</el-menu-item>

      <el-menu-item index="admin" v-if="$store.state.isAuth">Панель администратора</el-menu-item>

    </el-menu>
  </div>
</template>

<script>
export default {
  methods: {
    Route(index) {
      this.$scrollTo(this.$el)
      this.$router.push("/" + index);
    },
    toBadEye() {
        this.$store.commit('changeIsBadEye', true)
        this.$router.push('/BadEyeNavMenu')
      }
  }
};
</script>

<style lang="scss" scoped>
.drawer {
  display: none;
}
@media (max-width: 710px) {
  .drawer {
    display: block;
    width: 100vw;
    height: 100vw;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    color: white;

    background-color: #33b1ff;
  }
  .for_low_eye {
    height: 60px;
    display: flex;
  }
  .text_low_eye {
    width: 320px;
    display: block;
    font-size: 1.3rem;
    margin: auto;
    text-decoration: underline;
  }
  .menu_container {
    border-right: none;
    padding: 30px 0 150px;
    word-break: break-word;
  }
  .menu_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px 20px 20px;
    span {
      text-align: left;
    }
  }
  .close_button {
    display: block;
    font-size: 2rem;
  }
}
</style>