<template>
    <el-menu
    style="
    border-bottom: none;
    font-size: 10vw;"
      mode="horizontal"
      background-color="#33b1ff"
      text-color="white"
      active-text-color="#ffbb8b"
      :default-active="$router.currentRoute.path.indexOf('admin') != -1? 'admin' : $router.currentRoute.path.slice(1)"
      class='menu'
      @select="Route"
    >
      <el-menu-item index="news">Новости</el-menu-item>
      <el-menu-item index="distanceLearning">Дистанционное обучение</el-menu-item>
      <el-submenu index="school_info">
        <template slot="title">Информация о школе</template>
        <el-menu-item index="school_info/general">Основные сведения</el-menu-item>
        <el-menu-item index="school_info/collective">Коллектив</el-menu-item>
        <el-menu-item index="school_info/education">Образование</el-menu-item>
        <el-menu-item index="school_info/Materialtechnicgiving">Материально-техническое обеспечение</el-menu-item>
        <el-menu-item index="school_info/MethodGivingStudy">Методическое обеспечение учебного процесса</el-menu-item>
        <el-menu-item index="school_info/SecurityAntiterror">Безопасность/Антитеррор</el-menu-item>
      </el-submenu>
      
      <el-menu-item index="docs">Документы</el-menu-item>
      <el-submenu index="victory">
        <template slot="title">Наши победы</template>
        <el-menu-item index="victory/StudentYearVictory">Ученики года</el-menu-item>
        <el-menu-item index="victory/SportVictory">Спортивные победы</el-menu-item>
        <el-menu-item index="victory/OtherVictory">Другие конкурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="useful">
        <template slot="title">Полезное</template>
        <el-menu-item index="useful/InfoSecurity">Информационная безопасность</el-menu-item>
        <el-menu-item index="useful/HotLines">Горячие линии</el-menu-item>
        <el-menu-item index="useful/LinksUse">Интернет-ресурсы</el-menu-item>
      </el-submenu>
      <el-submenu index="liblary">
        <template slot="title">Бибилиотека</template>
        <el-menu-item index="liblary/general">Общая информация</el-menu-item>
        <el-menu-item index="liblary/actualbooks">Список актуальных учебников</el-menu-item>
      </el-submenu>
      <el-menu-item index="schoolpaper">Школьная газета</el-menu-item>

      <el-menu-item index="admin" v-if="$store.state.isAuth">Панель администратора</el-menu-item>

    </el-menu>
</template>

<script>
export default {
  methods: {
    Route(index)  {
      this.$router.push('/'+index)
    }
  }
};
</script>

<style lang="scss" scoped>
.menu {
    width: 992px;
    margin: auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

@media (max-width: 992px) {
  .menu {
    width: 100vw;
  }
}

@media (max-width: 710px) {
  .menu {
    display: none;
  }
}

@media (min-width: 1200px) {
    .menu {
        width: 53vw;
        font-size: 1vw;
    }
}
</style>