<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <el-button type="text" icon="el-icon-arrow-left" @click="$router.go(-1)">Назад</el-button>
    <h2 class="title_new">{{item.title}}</h2>
    <span style="margin-top: 10px" class="date_new">{{item.date_create}}</span>
    <el-image
      :src="item.img_way != null ? 'http://school12batysk.ru/server/imgs/'+item.img_way : null"
      :preview-src-list="item.img_way != null ? ['http://school12batysk.ru/server/imgs/'+item.img_way] : null"
      fit="contain"
      :alt="item.id"
      class="one_img"
      style="margin: auto"
    ></el-image>
    <br>
    <span class="text_content">{{item.content}}</span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/slaider_img_1.jpg";

export default {
  mounted() {
    if (this.$store.state.newItemData.title == undefined)
      this.$router.push('/news')
  this.$scrollTo(this.$el)
  },
  data() {
    return {
      item: this.$store.state.newItemData
    };
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>