<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Список актуальных учебников" subtitle="Полезное"></title-section>
    <el-input v-model="search" size="mini" placeholder="Введите для поиска" />
    <el-table
      :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
    >
      <el-table-column type="expand">
        <template slot-scope="props">
          <el-image
            v-if="props.row.img_way"
            class="medium_img"
            :src="props.row.img_way != null ? 'http://school12batysk.ru/server/imgs/'+props.row.img_way : null"
            :preview-src-list="props.row.img_way != null ? ['http://school12batysk.ru/server/imgs/'+props.row.img_way] : null"
            fit="contain"
            alt="Img"
          >
            <div slot="error" class="image_not" style="background-color: #eee;  ">
              <div
                style="display:flex; flex-direction: column; align-items: center; justify-content: center; height: 100%"
              >
                <font-awesome-icon icon="image" size="3x" style="margin-left: 10px; display: block"></font-awesome-icon>
                <span style="margin-left: 10px">Нет фото</span>
              </div>
            </div>
          </el-image>
          <p>Название: {{ props.row.title}}</p>
          <p>Автор(ы): {{ props.row.authors }}</p>
          <p>Издатель: {{ props.row.publishing }}</p>
          <p>Класс(ы): {{ props.row.class }}</p>
        </template>
      </el-table-column>
      <el-table-column label="Название" prop="title" sortable></el-table-column>
      <el-table-column
        label="Класс"
        prop="class"
        :filters="sortPosts"
        :filter-method="filterPosts"
        filter-placement="bottom-end"
      ></el-table-column>
    </el-table>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import axios from "axios";
export default {
  mounted() {
    axios.get("/api/books").then(res => {
      this.tableData = res.data
      this.loading = false;
      });
      
  },
  data() {
    return {
      loading: true,
      tableData: [],
      search: ""
    };
  },
  computed: {
    sortPosts: function() {
      let categories = [];
      this.tableData.forEach(el => {
        if (
          categories.indexOf(
            JSON.stringify({ text: el.class, value: el.class })
          ) == -1
        ) {
          categories.push(
            JSON.stringify({ text: el.class, value: el.class })
          );
        }
      });
      categories = categories.map(item => {
        return JSON.parse(item);
      });
      return categories;
    }
  },
  methods: {
    filterPosts(value, row) {
      return row.class === value;
    }
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

</style>