<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Основная информация" subtitle="Библиотека"></title-section>
    <span class="text_content">История</span>
    <el-image class="one_img" :src="Img1" :preview-src-list="[Img4]" alt="main" fit="contain"></el-image>
    <span class="text_content">
      МБОУ СОШ №12 (ранее средняя железнодорожная школа №12) была открыта в сентябре 1951 года. Она являлась первой, построенной после Великой Отечественной Войны железнодорожной школой, и вот уже более 65 лет каждое 1 сентября открывает свои двери первоклассникам, а каждое 25 мая выпускает в жизнь новое поколение юношей и девушек.
      Без сомнения, весомую лепту в развитие школы внесла и школьная библиотека.
      Официальным документом, подтверждающим ее рождение является инвентарная книга - 1951 года. Именно ее можно считать свидетельством о рождении библиотеки.
      Опросив первых учеников школы - В. Апанасова и Г. Губанову, и изучая пожелтевшие страницы инвентарной книги - узнаешь о многом:
      - несмотря на то, что прошло уже шесть лет после окончания войны, книги которые были поставлены на учет датированы разными годами – это и 1938, и 1939, и 1947. Книги для библиотеки были собраны благодаря стараниям первого директора Смигельского И.И. и первых учеников школы. Он, бывший фронтовик и теперь директор школы - попросил своих учеников принести из дома уцелевшие издания и таким образом благодаря совместным усилиям педагогического и ученического коллективов стал образовываться фонд школьной библиотеки.
      - так же узнаешь об изменении в экономическом жизни страны, когда видишь переоценку стоимости книг в период денежной реформы 1960 года, в связи с деноминацией рубля 90-х годов и удорожанием 2000 годов.
      А что же читали первые учащиеся школы, наши бабушки и дедушки?
      Круг их чтения был очень схож с нашим. Это книги духовного, исторического содержания, а так же художественная литература. Это все мы видим на страницах ПЕРВОЙ инвентарной книги нашей школы. Здесь мы также видим фамилии авторов – это и А.С. Пушкин, и Л.Н. Толстой, и А.П.Чехов и многие другие. Прошло уже более 65 лет, а на полках нашей библиотеки рядом с новыми изданиями находятся книги которые были первыми книгами нашей школы.
      - есть еще запись в нашем историческом документе, т.е. инвентарной книге – «изъято». Это говорит об исполнении решения компетентных органов об изъятии политически дефектных книг из библиотек общего пользования. Много знакомых фамилий любимых писателей нашего поколения можно встретить среди них. И нашему поколению трудно представить русскую литературу без этих имен. Все это осталось в прошлом… Память об этом хранит до сих пор школьная библиотека и ее старенькие инвентарные книги.
      История школьной библиотеки – это люди, которые работали в ней.
    </span>

    <div class="flex_container_1">
      <el-image class="medium_img" :src="Img2" :preview-src-list="[Img1]" alt="1" fit="contain"></el-image>
      <el-image class="medium_img" :src="Img3" :preview-src-list="[Img2]" alt="2" fit="contain"></el-image>
      <el-image class="medium_img" :src="Img4" :preview-src-list="[Img3]" alt="3" fit="contain"></el-image>
    </div>
    <span class="text_content">
      Исходя из архива библиотеки, хронологическая таблица выглядит так: <br>
      1951 – 1970 – Гордик Клавдия Ивановна<br>
      1970 – 1972 - Ганцура Ирина Ивановна<br>
      1973 – 1978 – Попова Галина Александровна<br>
      1978 – 1983 – Богданова Людмила Петровна<br>
      1983 – 1994 – Малеева Ирина Андреевна<br>
      1994 и по настоящее время – Рябухина Виктория Николаевна<br>
      С 1978 года в школу стали поступать бесплатные учебники, которые поступали централизованно, соответственно количеству учащихся.<br>
      В восьмидесятые годы отпускались достаточные средства на подписку газет и журналов для учителей и учащихся школы. Учащиеся с удовольствием читали журналы «Моделист-конструктор», «Смена», «Юность», «Костер», а так же газеты «Пионерская правда», «Комсомольская правда».<br>
      За время своей работы библиотека школы принимала активное участие во многих городских, региональных мероприятиях.<br>
      В настоящее время функционал школьной библиотеки несколько изменился:<br>
      Школьная библиотека предоставляет информацию и идеи, имеющие фундаментальное значение для успешной деятельности в нашем сегодняшнем мире, который все больше строится на информации и знаниях. Школьная библиотека вооружает учащихся навыками непрерывного самообразования и формирования установки на ответственное и активное отношение к своему здоровью.<br>
    </span></div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";
import Img1 from "@/assets/images/liblary/1.jpg";
import Img2 from "@/assets/images/liblary/2.jpg";
import Img3 from "@/assets/images/liblary/3.jpg";
import Img4 from "@/assets/images/liblary/4.jpg";

export default {
  data() {
    return {
      Img1,
      Img2,
      Img3,
      Img4
    };
  },
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>