<template>
  <div>
    <span class="text_content">
      Средняя школа №12 города Батайска впервые открыла свои двери перед учениками в 1951 году.
      Первый выпуск был сделан в 1954 году. В те годы школа славилась своими урожайными теплицами, геолого-геодезической площадкой, пришкольными участками.
      Не только отличным прилежанием, но и усердием, трудолюбием отличались ученики всех лет работы школы.
      Среди выпускников разных лет люди, которые своим трудом заслужили почёт и уважение батайчан, награды государства.
    </span>
    <div class="flex_container_2">
      <el-image class="small_img" :src="Img1" :preview-src-list="[Img1]" alt="1" fit="contain"></el-image>
      <el-image class="small_img" :src="Img2" :preview-src-list="[Img2]" alt="2" fit="contain"></el-image>
      <el-image class="small_img" :src="Img3" :preview-src-list="[Img3]" alt="3" fit="contain"></el-image>
    </div>
    <span class="text_content">
      Первым директором школы стал Смигельский И.И., среди первых учителей были Вихлянцев А.П., Гнипа В.П., Егорочкин С.Д.,
      Резникова Л.Г. Весь школьный коллектив учителей насчитывал около 25 человек. Именно благодыря их энергии и любви к работе,
      наша школа поднималась на ноги, укреплялась и набирала сил. Своих первых учеников учителя окружили заботой и вниманием.
      Школа славилась своими урожайными теплицами, геолого-геодезической площадкой, пришкольными участками.
      Не только отличным прилежанием, но и усердием, трудолюбием отличались ученики всех лет работы школы.
    </span>
    <h4
      style="text-align: center"
    >Педагоги средней школы №12 – это многолетний опыт и высокий профессионализм, жизненная мудрость и прирождённый артистизм.</h4>
    <div class="flex_container_2 big">
      <div>
        <el-image
          class="small_img img"
          :src="Img4"
          :preview-src-list="[Img4]"
          alt="4"
          fit="contain"
        ></el-image>
        <span class="title_flex_element">Заслуженный учитель СССР</span>
        <span class="title_flex_element">Жукова Тамара Ивановна</span>
      </div>
      <div>
        <el-image
          class="small_img img"
          :src="Img5"
          :preview-src-list="[Img5]"
          alt="5"
          fit="contain"
        ></el-image>
        <span class="title_flex_element">Заслуженный учитель СССР</span>
        <span class="title_flex_element">Егорочкин Семен Дмитриевич</span>
      </div>
      <div>
        <el-image
          class="small_img img"
          :src="Img6"
          :preview-src-list="[Img6]"
          alt="6"
          fit="contain"
        ></el-image>
        <span class="title_flex_element">Почетный работник</span>
        <span class="title_flex_element">Общего образования</span>
        <span class="title_flex_element">Кравцова Людмила Алексеевна</span>
      </div>
      <div>
        <el-image
          class="small_img img"
          :src="Img7"
          :preview-src-list="[Img7]"
          alt="7"
          fit="contain"
        ></el-image>
        <span class="title_flex_element">Почетный работник</span>
        <span class="title_flex_element">просвещения</span>
        <span class="title_flex_element">Богданова Людмила Петровна</span>
      </div>
      <div>
        <el-image
          class="small_img img"
          :src="Img8"
          :preview-src-list="[Img8]"
          alt="8"
          fit="contain"
        ></el-image>
        <span class="title_flex_element">Отличник народного</span>
        <span class="title_flex_element">просвещения</span>
        <span class="title_flex_element">Клинкова Тамара Ивановна</span>
      </div>
    </div>
    <h4 style="text-align: center; margin-bottom: 10px">
      За 60лет в школе сложились свои традиции, обычаи, праздники,
      которые стали неотъемлимой частью школьной жизни: туристический слет,
      праздники "Посвящение в ученики", "Прощание с букварем", "Новый год"
    </h4>
    <el-image class="one_img" :src="Img9" :preview-src-list="[Img9]" fit="contain" alt="9"></el-image>
    <el-image
      style="margin-bottm: 10px"
      class="one_img"
      :src="Img10"
      :preview-src-list="[Img10]"
      fit="contain"
      alt="10"
    ></el-image>
    <h4 style="text-align: center; margin-bottom: 10px">Школа издавна славится своими спортсменами</h4>
    <div class="flex_container_1">
      <el-image class="medium_img" :src="Img11" :preview-src-list="[Img11]" fit="contain" alt="11"></el-image>
      <el-image class="medium_img" :src="Img12" :preview-src-list="[Img12]" fit="contain" alt="12"></el-image>
    </div>
  </div>
</template>

<script>
import Img1 from "@/assets/images/school_info/history/1.jpg";
import Img2 from "@/assets/images/school_info/history/2.jpg";
import Img3 from "@/assets/images/school_info/history/3.jpg";
import Img4 from "@/assets/images/school_info/history/4.jpg";
import Img5 from "@/assets/images/school_info/history/5.jpg";
import Img6 from "@/assets/images/school_info/history/6.jpg";
import Img7 from "@/assets/images/school_info/history/7.jpg";
import Img8 from "@/assets/images/school_info/history/8.jpg";
import Img9 from "@/assets/images/school_info/history/9.jpg";
import Img10 from "@/assets/images/school_info/history/10.jpg";
import Img11 from "@/assets/images/school_info/history/11.jpg";
import Img12 from "@/assets/images/school_info/history/12.jpg";
export default {
  data() {
    return {
      Img1,
      Img2,
      Img3,
      Img4,
      Img5,
      Img6,
      Img7,
      Img8,
      Img9,
      Img10,
      Img11,
      Img12
    };
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>