<template>
  <div class="container" style="cursor: pointer" @click="$router.push('/news')">
    <div class="logo_img">
        <font-awesome-icon icon="school" size='5x' class='icon'/>
    </div>
    <div class="logo_text">
      <h4>Муниципальное бюджентное общеобразовательное учреждение средняя образовательная</h4>
      <h1>ШКОЛА №12</h1>
      <h3>город Батайск</h3>
    </div>
    <div class="logo_img">
        <font-awesome-icon icon="school" size='5x' class='icon'/>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.container {
  box-sizing: border-box;
  width: 992px;
  margin: auto;
  background-color: #1192e8;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 3rem;
}

h1,h3,h4 {
    text-align: center;
}

@media (max-width: 992px) {
  .container {
    width: 100vw;
  }
}

@media (max-width: 992px) {
  icon {
    width: 70vw;
  }
}

@media (min-width: 1200px) {
    .container {
        width: 53vw;
    }
}

</style>