<template>
  <div>
    <div class="container_new"  :class="{badEye: $store.state.isBadEye}">
      <div class="content_mobile">
        <h2>{{newItem.title}}</h2>
        <h4>{{newItem.date_create}}</h4>
      </div>
      <el-image
        class="img"
        :src="newItem.img_way != null ? 'http://school12batysk.ru/server/imgs/'+newItem.img_way : null"
        :preview-src-list="newItem.img_way != null ? ['http://school12batysk.ru/server/imgs/'+newItem.img_way] : null"
        fit="contain"
        :alt="'img'+newItem.id"
      ></el-image>

      <div class="content">
        <h2 class="not_mobile">{{newItem.title}}</h2>
        <h4 class="not_mobile">{{newItem.date_create}}</h4>
        <p>{{newItem.content.slice(0,150)+'...'}}</p>
      </div>
      <el-button
        class="buttonMore"
        plain
        icon="el-icon-arrow-right"
        @click="openNew(newItem)"
      >Подробнее</el-button>
    </div>
    <el-divider></el-divider>
  </div>
</template>

<script>
export default {
  props: ["newItem"],
  methods: {
    openNew: function(item) {
      this.$store.commit("changeNewItemData", item);
      this.$router.push({ name: "NewPage", params: { id: item.id } });
    }
  }
};
</script>

<style lang="scss" scoped>
.container_new {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 832px;
  padding: 10px;
  margin-bottom: 20px;

  .content_mobile {
    display: none;
     align-self: flex-start; 
     margin-left: 5vw;
  }

  .buttonMore {
    margin-left: auto;
    align-self: flex-end;
  }

  .img {
    width: 200px;
    max-height: 250px;
    margin-right: 10px;
  }

  h2 {
    margin-bottom: 2px;
    width: 400px;
  }

  h4 {
    color: #fd9c56;
    margin: 5px 0;
    font-weight: 500;

  }

  p {
    width: 450px;
    word-break: break-all;
  }
}

.badEye {
  .img {
    display: none;
  }
  p {
    font-size: 1.5rem;
  }
}
@media (max-width: 992px) {
  .container_new {
    width: auto;
    h2 {
      width: 400px;
    }
  }
}

@media (max-width: 710px) {
  .container_new {
    flex-direction: column;
    .content_mobile {
      display: block;
    }

    .not_mobile {
      display: none;
    }
    .img {
      width: 80vw;
    }
    h2 {
      width: 80vw;
    }
    p {
      width: 80vw;
      margin: 5px 0 15px;
    }
  }
}

@media (min-width: 1200px) {
    .container_new {
        width: 45vw;
    .img {
      width: 20%;
    }
    .content {
      width: 60%;
      h2,p {
        width: 100%;
      }
    }

    
    }
}
</style>