<template>
  <div class="container">
    <el-carousel
      height="30vh"
      direction="horizontal"
      :autoplay="true"
      indicator-position="none"
      arrow="never"
      :interval="8000"
    >
      <el-carousel-item v-for="item in this.images" :key="item">
        <img :src="item" alt="img" class="carusel_item" />
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
import Img1 from "@/assets/images/slaider_img_1.jpg";
import Img2 from "@/assets/images/slaider_img_2.jpg";
import Img3 from "@/assets/images/slaider_img_3.jpg";

export default {
  data() {
    return {
      images: [Img1, Img2, Img3]
    };
  }
};
</script>

<style lang="scss" scoped>
.container {
  width: 992px;
  margin: auto; 
  img {
    width: 100%;
    height: 30vh;
    object-fit: cover;
  }
}

@media (max-width: 992px) {
  .container {
    width: 100vw;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 53vw;
  }
}
</style>