<template>
    <div>
        <el-button type="text" icon="el-icon-arrow-left" @click="$router.go(-1)">Назад</el-button>
        <h2>{{title}}</h2>
    </div>
</template>

<script>
    export default {
         props: ["title"]
    }
</script>

<style lang="scss" scoped>
h2 {
  margin-bottom: 15px;
}
</style>