<template>
  <div>
    <h4>{{subtitle}}</h4>
    <h2>{{title}}</h2>
    <el-divider></el-divider>
  </div>
</template>

<script>
export default {
  props: ["title", "subtitle"]
};
</script>

<style lang="scss" scoped>
h2,
h4 {
  text-align: start;
}
h4 {
  margin-bottom: 5px;
}

h2 {
  margin-bottom: 15px;
}
</style>