<template>
  <div class="container">

      <div class='contacts'>
        <el-row style="margin-bottom: 5px;">
          <el-col :span="5" :offset="1">
            <span style="font-weight: bold;">Телефон:</span>
            </el-col>
          <el-col :span="15" :md="{span: 15, offset: 3}">
            <span>(86354) 4-53-84, 9-42-87</span>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 5px;">
          <el-col :span="5" :offset="1">
            <span style="font-weight: bold;">Адрес:</span>
            </el-col>
          <el-col :span="15" :md="{span: 15, offset: 3}">
            <span>Ул.Тельмана, д.154</span>
          </el-col>
        </el-row>
        <el-row style="margin-bottom: 5px;">
          <el-col :span="5" :offset="1">
            <span style="font-weight: bold;">Почта:</span>
            </el-col>
          <el-col :span="15" :md="{span: 15, offset: 3}">
            <span>bataysk_sc12@mail.ru</span>
          </el-col>
        </el-row>
      </div>
      <div class='for_low_eye'>
            <div class="outer_icon">
              <font-awesome-icon icon="eye" size='3x' class='icon'/>
            </div>
            <span class='text_low_eye text_center' @click="toBadEye()">
              ВЕРСИЯ ДЛЯ СЛАБОВИДЯЩИХ
            </span>
      </div >
      <div class='social'>
            <span style="line-height: 100%;">
              Мы в сети:
            </span>
            <div class='outer_icon'>
               <a href="https://vk.com/active_12" target="_blank"><font-awesome-icon :icon="['fab', 'odnoklassniki-square']" size='2x' class='icon'/></a>
            
            </div>
            <div class='outer_icon'> 
              <a href="https://www.instagram.com/shkola12bataisk/" target="_blank"><font-awesome-icon :icon="['fab', 'instagram']" size='2x' class='icon'/></a>
            
            </div>

      </div>
  </div>
</template>

<script>
  export default {
    methods: {
      toBadEye() {
        this.$store.commit('changeIsBadEye', true)
        this.$router.push('/BadEyeNavMenu')
      }
    }
  }
</script>

<style lang="scss" scoped>
.container {
  background-color: #0072c3;
  color: white;
  padding: 10px;
  height: 8vh;
  display: flex;
  justify-content: space-between;
}

.contacts {
  width: 280px;
  align-self: center;
}

.for_low_eye {
  width: 410px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .outer_icon {
    width: 70px;
  }
}

.for_low_eye:hover {
  opacity: 0.8;
  .text_low_eye {
    border-bottom: none;
  }
}

.social {
  width: 280px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  .icon {
    cursor: pointer;
  }
}


.text_low_eye {
  font-size: 1.3rem;
  text-align: right;
  border-bottom: 2px solid white;

}

.outer_icon {
  height: 8vh;
  width: 4vh;
  position: relative;

  a {
    color: white;
  }
}

.outer_icon .icon {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

@media (max-width: 992px) {
  .container {
    width: auto;
    justify-content: center;
  }
  .contacts {
  display: none;
}

.social {
  display: none;
}
}

@media (min-width: 1200px) {
  span {
    font-size: 0.8vw;
  }
  .contacts {
    width: 20vw;
  }
  .for_low_eye {
  width: 30vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  .outer_icon {
    width: 5vw;
  }
}
  .social {
    width: 20vw;
  }

}
</style>
