<template>
  <div class="container">
    <el-button type="text" icon="el-icon-arrow-left" @click="$router.push('/admin')">Назад</el-button>
    <title-section title="Управление. Новости"></title-section>
    <el-button type="primary" icon="el-icon-plus" @click="$router.push('/adminnewcreate')">Создать</el-button>
    <el-table
      v-loading="loading"
      :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
    >
      <el-table-column label="Название" prop="title"></el-table-column>
      <el-table-column
      prop="date_create"
      label="Дата создания"
      sortable>
    </el-table-column>
      <el-table-column align="right">
        <template slot="header" slot-scope="scope">
          <el-input v-model="search" size="mini" placeholder="Поиск по названию" />
        </template>
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Изменить</el-button>
          <el-button size="mini" type="danger" @click="confirmDelete(scope.row)">Удалить</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";
export default {
  mounted() {
    axios.get("/api/news").then(res => {
      this.tableData = res.data;
      this.loading = false;
    }).catch(error => {
        this.$router.push('/admin')
        this.$message.error('Страница недоступна')
    });
  },
  components: {
    TitleSection
  },
  data() {
    return {
      tableData: [],
      search: "",
      loading: true
    };
  },
  methods: {
    handleEdit(index, row) {
      this.$store.commit("changeNewItemData", row);
      this.$router.push("/adminnewupdate");
    },
    confirmDelete(row) {
      this.$confirm(
        "Новость '" + row.title + "' будет удалена. Продолжить?",
        "Удаление новости",
        {
          confirmButtonText: "Ок",
          cancelButtonText: "Отмена",
          type: "warning"
        }
      ).then(() => {
        this.handleDelete(row);
      });
    },
    handleDelete(row) {
      axios({
        method: "post",
        url: "api/news/delete/" + row.id,
        headers: {
          Token: localStorage.getItem("token")
        }
      })
        .then(res => {
          if (res.status == 200) {
            this.loading = true;
            this.$message({
              message: "Новость удалена",
              type: "success"
            });
            axios.get("/api/news").then(res => {
              this.tableData = res.data;
              this.loading = false;
            });
          }
        })
        .catch(error => {
          if (error.response.status == 403) {
            this.$store.commit("changeIsAuth", false);
            this.$router.push("/adminauth");
            this.$message.error("Нет доступа");
          } else {
            return this.$message.error("Ошибка");
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>