<template>
  <div class="container">
    <title-section title="Создание учебника"></title-section>
    <div class="form-container">
      <el-form :model="form" :rules="rulesForm" class="form" ref="form" v-loading="loading">
        <el-form-item label="Название" prop="surname">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="Автор(ы)" prop="name">
          <el-input v-model="form.authors"></el-input>
        </el-form-item>
        <el-form-item label="Класс" prop="category">
          <el-input v-model="form.class" v-if="form.newCategory"></el-input>
          <el-select v-model="form.class" placeholder="Выберите класс" v-if="!form.newCategory">
            <el-option v-for="item in categories" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Новый класс">
          <el-switch v-model="form.newCategory" value="false"></el-switch>
        </el-form-item>
        <el-form-item label="Издательство" prop="post">
          <el-input v-model="form.publishing"></el-input>
        </el-form-item>
        <el-form-item label="Обложка">
          <input
            v-if="!imagePreview"
            id="fl_inp"
            type="file"
            accept="image/*"
            name="file"
            ref="myFiles"
            @change="setFile"
          />
          <el-button v-if="imagePreview" @click="deleteImg()">Удалить изображение</el-button>
          <img v-if="imagePreview" :src="imagePreview" class="avatar" style="object-fit: contain" />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm(form)" class="submit_button">Изменить</el-button>
          <el-button @click="$router.push('/adminbooks')">Отмена</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";
export default {
  components: { TitleSection },
  beforeMount() {
    if (this.$store.state.bookItemData.title == undefined)
      this.$router.push('/adminbooks')
    let categories = [];
    axios.get("/api/books").then(res => {
      res.data.forEach(el => {
        if (categories.indexOf(el.class) == -1) categories.push(el.class);
      });
    });
    this.categories = categories;
  },
  data() {
    return {
      imagePreview:
        this.$store.state.bookItemData.img_way == null
          ? ""
          : "http://school12batysk.ru/server/imgs/" +
            this.$store.state.bookItemData.img_way,
      loading: false,
      categories: [],
      form: {
        title: this.$store.state.bookItemData.title,
        authors: this.$store.state.bookItemData.authors,
        class: this.$store.state.bookItemData.class,
        publishing: this.$store.state.bookItemData.publishing,
        newCategory: false,
        file: this.$store.state.bookItemData.title
      },
      rulesForm: {
        title: [
          { required: true, message: "Введите название" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        authors: [
          { required: true, message: "Введите автора(ов)" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        class: [
          { required: true, message: "Введите класс" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        publishing: [
          { required: true, message: "Введите издательство" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ]
      }
    };
  },
  methods: {
    deleteImg() {
      this.form.file = null;
      this.imagePreview = null;
    },
    setFile() {
      let file = this.$refs.myFiles.files[0];
      if (file == undefined) {
        this.form.file = this.$store.state.bookItemData.img_way;
        this.imagePreview =
          "http://school12batysk.ru/server/imgs/" +
          this.$store.state.bookItemData.img_way;
        return;
      }
      if (file.size > 10000000) {
        this.$message.error("Размер файла не более 10МБ");
      } else if (
        file.type != "image/jpeg" &&
        file.type != "image/png" &&
        file.type != "image/gif"
      ) {
        this.$message.error("Изображение должно быть jpg, png, gif");
      } else {
        this.form.file = file;
        let reader = new FileReader();
        reader.onload = () => {
          this.imagePreview = reader.result;
        };
        reader.readAsDataURL(file);
      }
    },
    submitForm(form) {
      this.$refs.form.validate(async valid => {
        if (valid) {
          this.loading = true;
          let data = new FormData();
          data.set("title", form.title);
          data.set("authors", form.authors);
          data.set("class", form.class);
          data.set("publishing", form.publishing);
          data.set("file", form.file);
          data.set("filename", this.$store.state.bookItemData.img_way);

          axios({
            method: "post",
            url: "/api/books/update/" + this.$store.state.bookItemData.id,
            data,
            headers: {
              Token: localStorage.getItem("token")
            }
          })
            .then(res => {
              if ((res.status = 201)) {
                this.$router.push("/adminbooks");
                this.$message({
                  message: "Учебник изменен",
                  type: "success"
                });
              }
            })
            .catch(error => {
              this.loading = false;
              if (error.response.status == 401) {
                return this.$message.error(
                  "Некорректные данные или такой сотрудник уже есть"
                );
              } else if (error.response.status == 403) {
                this.$store.commit("changeIsAuth", false);
                this.$router.push("/adminauth");
                this.$message.error("Нет доступа");
              } else {
                return this.$message.error("Ошибка");
              }
            });
        } else {
          return this.$message.error("Заполните все поля");
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.form-container {
  display: flex;
  justify-content: center;
  .form {
    width: 500px;
    margin-top: 20px;
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  display: block;
  color: #8c939d;
  width: 100%;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
  margin: 10px 0;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
</style>