<template>
  <div class="container" v-loading="loading">
    <title-section title="Создание документа"></title-section>
    <div class="form-container">
      <el-form :model="form" :rules="rulesForm" class="form" ref="form">
        <el-form-item label="Название документа" prop="title">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="Категория документа" prop="category">
          <el-input v-model="form.category" v-if="form.newCategory"></el-input>
          <el-select
            v-model="form.category"
            placeholder="Выберите категорию документа"
            v-if="!form.newCategory"
          >
            <el-option v-for="item in categories" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Новая категория">
          <el-switch v-model="form.newCategory" value="false"></el-switch>
        </el-form-item>
        <el-form-item label="Документ" prop="file">
          <input
            id="fl_inp"
            type="file"
            accept="application/pdf"
            name="file"
            ref="myFiles"
            @change="setFile"
          />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm(form)" class="submit_button">Создать</el-button>
          <el-button @click="$router.push('/admindocs')">Отмена</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";

export default {
  beforeMount() {
      let categories = [];
      axios.get('/api/docs')
      .then(res => {
        res.data.forEach(el => {
          if (categories.indexOf(el.category) == -1)
            categories.push(el.category)
        })
      })
      this.categories = categories
    
  },
  components: { TitleSection },
  data() {
    return {
      categories: [],
      loading: false,
      form: {
        title: "",
        category: "",
        file: null
      },
      rulesForm: {
        title: [
          { required: true, message: "Введите название" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        category: [
          { required: true, message: "Введите категорию" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        file: [
          { required: true, message: "Загрузите файл" }
        ]
      }
    };
  },
  methods: {
    setFile() {
      let file = this.$refs.myFiles.files[0]
      if (file == undefined) {
          this.form.file = null
          return
      }
      let fileName = file.name;
      if (file.size > 50000000){
        this.$message.error("Размер файла не более 50МБ")
      } else  if (file.type != "application/pdf"){
        this.$message.error("Файл должен быть формата PDF")
      }else{
        this.newfile = true
        this.form.file = file
      }
    },
    submitForm(form) {
      if (form.file == null) this.$message.error("Загрузите файл");
      else
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            let data = new FormData()
            data.set("title", form.title)
            data.set("category", form.category)
            data.set("file", form.file)

            axios({
              method: "post",
              url: "/api/docs/create",
              data,
              headers: {
                  'Token': localStorage.getItem("token")
              }
            })
              .then(res => {
                if ((res.status = 201)) {
                  this.$router.push("/admindocs")
                  this.$message({
                    message: "Документ добавлен",
                    type: "success"
                  });
                }
              })
              .catch(error => {
                this.loading = false
                if (error.response.status == 401) {
                  return this.$message.error(
                    "Некорректные данные или такой документ уже есть"
                  )
                } else if (error.response.status == 403) {
                  this.$store.commit("changeIsAuth", false)
                  this.$router.push("/adminauth")
                  this.$message.error("Нет доступа")
                } else {
                  return this.$message.error("Ошибка")
                }
              });
          } else {
            return this.$message.error("Заполните все поля")
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.form-container {
  display: flex;
  justify-content: center;
  .form {
    width: 500px;
    margin-top: 20px;
  }
}
</style>