<template>
  <div class="container">
    <title-section title="Панель администратора"></title-section>
    <div class="button-container">
      <el-button class="button" @click="$router.push('/adminworkers')">Сотрудники</el-button>
      <el-button class="button" @click="$router.push('/admindocs')">Документы</el-button>
      <el-button class="button" @click="$router.push('/adminbooks')">Учебники</el-button>
      <el-button class="button" @click="$router.push('/adminnews')">Новости</el-button>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: { TitleSection },
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  .button {
    margin: 10px 0;
    width: 200px;
  }
}
</style>