<template>
  <div class="container">
    <title-section title="Изменение документа"></title-section>
    <div class="form-container">
      <el-form :model="form" :rules="rulesForm" class="form" ref="form">
        <el-form-item label="Название документа" prop="title">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="Категория документа" prop="category">
          <el-input v-model="form.category" v-if="form.newCategory"></el-input>
          <el-select
            v-model="form.category"
            placeholder="Выберите категорию документа"
            v-if="!form.newCategory"
          >
            <el-option v-for="item in categories" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Новая категория">
          <el-switch v-model="form.newCategory" value="false"></el-switch>
        </el-form-item>
        <el-form-item label="Документ">
          <span style="display: block" v-if="!newfile">
            <a
              :href="'http://school12batysk.ru/server/docs/'+this.$store.state.docItemData.file_way"
              target="_blank"
            >{{this.$store.state.docItemData.title+'.pdf'}}</a>
          </span>
          <input
            id="fl_inp"
            type="file"
            accept="application/pdf"
            name="file"
            ref="myFiles"
            @change="setFile"
          />
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm(form)" class="submit_button">Изменить</el-button>
          <el-button @click="$router.push('/admindocs')">Отмена</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";

export default {
  beforeMount() {
    if (this.$store.state.docItemData.title == undefined)
      this.$router.push('/admindocs')
    let categories = [];
    axios.get("/api/docs").then(res => {
      res.data.forEach(el => {
        if (categories.indexOf(el.category) == -1) categories.push(el.category);
      });
    });
    this.categories = categories;
  },
  components: { TitleSection },
  data() {
    return {
      categories: [],
      newfile: false,
      form: {
        title: this.$store.state.docItemData.title,
        category: this.$store.state.docItemData.category,
        file: this.$store.state.docItemData.file_way
      },
      rulesForm: {
        title: [
          { required: true, message: "Введите название" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        category: [
          { required: true, message: "Введите категорию" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ]
      }
    };
  },
  methods: {
    setFile() {
      let file = this.$refs.myFiles.files[0];
      if (file == undefined) {
        this.form.file = this.$store.state.docItemData.file_way;
        this.newfile = false;
        return;
      }
      let fileName = file.name;
      if (file.size > 50000000) {
        this.$message.error("Размер файла не более 50МБ");
      } else if (file.type != "application/pdf") {
        this.$message.error("Файл должен быть формата PDF");
      } else {
        this.newfile = true;
        this.form.file = file;
      }
    },
    submitForm(form) {
      if (this.form.file == null) this.$message.error("Загрузите файл");
      else if (
        form.title == this.$store.state.docItemData.title &&
        form.category == this.$store.state.docItemData.category &&
        this.newfile == false
      )
        this.$message.error("Внесите изменения");
      else
        this.$refs.form.validate(async valid => {
          if (valid) {
            let data = new FormData();
            data.set("title", form.title);
            data.set("category", form.category);
            data.set("filename", this.$store.state.docItemData.file_way);
            if (this.newfile) data.set("file", form.file);
            data.set("newfile", this.newfile);

            axios({
              method: "post",
              url: "/api/docs/update/" + this.$store.state.docItemData.id,
              data,
              headers: {
                Token: localStorage.getItem("token")
              }
            })
              .then(res => {
                if ((res.status = 200)) {
                  this.$router.push("/admindocs");
                  this.$message({
                    message: "Документ изменен",
                    type: "success"
                  });
                }
              })
              .catch(error => {
                if (error.response.status == 401) {
                  return this.$message.error(
                    "Некорректные данные или такой документ уже есть"
                  );
                } else if (error.response.status == 403) {
                  this.$store.commit("changeIsAuth", false);
                  this.$router.push("/adminauth");
                  this.$message.error("Нет доступа");
                } else {
                  return this.$message.error("Ошибка");
                }
              });
          } else {
            return this.$message.error("Заполните все поля");
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.form-container {
  display: flex;
  justify-content: center;
  .form {
    width: 500px;
    margin-top: 20px;
  }
  a {
    text-decoration: none;
    color: rgb(87, 142, 245);
  }
  a:hover {
    text-decoration: underline;
  }
}
</style>