<template>
  <div class="container">
    <el-form label-width="100px" :model="form" class="form" :rules="rulesForm" ref="form" @keyup.enter.native="submitForm(form)">
      <el-form-item label="Логин" prop="login">
        <el-input v-model="form.login"></el-input>
      </el-form-item>
      <el-form-item label="Пароль" prop="password">
        <el-input type="password" v-model="form.password"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @keyup.enter="submitForm(form)" @click="submitForm(form)" class="submit_button">Вход</el-button>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      form: {
        login: "",
        password: ""
      },
      rulesForm: {
        login: [{ required: true, message: "Введите логин" }],
        password: [{ required: true, message: "Введите пароль" }]
      }
    };
  },
  methods: {
    submitForm(form) {
      this.$refs.form.validate(async valid => {
        if (valid) {
          let data = new FormData();
          data.set("login", form.login);
          data.set("password", form.password);

          axios({
            method: "post",
            url: "/api/sign/create",
            data
          })
            .then(res => {
              if ((res.status = 200)) {
                localStorage.setItem("token", res.data.token);
                this.$store.commit("changeIsAuth", true);
                this.$router.push("/admin");
              }
            })
            .catch(error => {
              if (error.response.status == 401) {
                return this.$message.error("Неверные логин или пароль");
              } else {
                return this.$message.error("Ошибка при авторизации");
              }
            });
        } else {
          return this.$message.error("Заполните все поля");
        }
      });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
.container {
  display: flex;
}
  .form {
    margin: auto;
    .submit_button {
      margin: 10px auto;
    }
  }

</style>