<template>
  <div class="container">
    <el-button type="text" icon="el-icon-arrow-left" @click="$router.push('/admin')">Назад</el-button>
    <title-section title="Управление. Документы"></title-section>
    <el-button type="primary" icon="el-icon-plus" @click="$router.push('/adminbookcreate')">Создать</el-button>
    <el-table
      v-loading="loading"
      :data="tableData.filter(data => !search || data.title.toLowerCase().includes(search.toLowerCase()))"
      style="width: 100%"
    >
      <el-table-column label="Название" prop="title" sortable></el-table-column>
      <el-table-column
        label="Класс"
        prop="class"
        :filters="sortDocs"
        :filter-method="filterDocs"
        filter-placement="bottom-end"
      ></el-table-column>
      <el-table-column align="right">
        <template slot="header" slot-scope="scope">
          <el-input v-model="search" size="mini" placeholder="Поиск по названию" />
        </template>
        <template slot-scope="scope">
          <el-button size="mini" @click="handleEdit(scope.$index, scope.row)">Изменить</el-button>
          <el-button size="mini" type="danger" @click="confirmDelete(scope.row)">Удалить</el-button>
        </template>
      </el-table-column>
    </el-table>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";
export default {
  computed: {
    sortDocs: function() {
      let categories = [];
      this.tableData.forEach(el => {
        if (
          categories.indexOf(
            JSON.stringify({ text: el.class, value: el.class })
          ) == -1
        ) {
          categories.push(
            JSON.stringify({ text: el.class, value: el.class })
          );
        }
      });
      categories = categories.map(item => {
        return JSON.parse(item);
      });
      return categories;
    }
  },
  mounted() {
    axios.get("/api/books").then(res => {
      this.tableData = res.data;
      this.loading = false;
    });
  },
  components: {
    TitleSection
  },
  data() {
    return {
      tableData: [],
      search: "",
      loading: true
    };
  },
  methods: {
    filterDocs(value, row) {
      return row.class === value;
    },
    handleEdit(index, row) {
      this.$store.commit("changeBookItemData", row);
      this.$router.push("/adminbookupdate");
    },
    confirmDelete(row) {
      this.$confirm(
        "Учебннк '" + row.title + "' будет удален. Продолжить?",
        "Удаление учебника",
        {
          confirmButtonText: "Ок",
          cancelButtonText: "Отмена",
          type: "warning"
        }
      ).then(() => {
        this.handleDelete(row);
      });
    },
    handleDelete(row) {
      axios({
        method: "post",
        url: "api/books/delete/" + row.id,
        headers: {
          Token: localStorage.getItem("token")
        }
      })
        .then(res => {
          if (res.status == 200) {
            this.loading = true;
            this.$message({
              message: "Учебник удален",
              type: "success"
            });
            axios.get("/api/books").then(res => {
              this.tableData = res.data;
              this.loading = false;
            });
          }
        })
        .catch(error => {
          if (error.response.status == 403) {
            this.$store.commit("changeIsAuth", false);
            this.$router.push("/adminauth");
            this.$message.error("Нет доступа");
          } else {
            return this.$message.error("Ошибка");
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>