<template>
  <div class="container">
    <title-section title="Изменение сотрудника"></title-section>
    <div class="form-container">
      <el-form :model="form" :rules="rulesForm" class="form" ref="form" v-loading="loading">
        <el-form-item label="Фамилия" prop="surname">
          <el-input v-model="form.surname"></el-input>
        </el-form-item>
        <el-form-item label="Имя" prop="name">
          <el-input v-model="form.name"></el-input>
        </el-form-item>
        <el-form-item label="Отчество" prop="lastname">
          <el-input v-model="form.lastname"></el-input>
        </el-form-item>
        <el-form-item label="Тип должности" prop="category">
          <el-input v-model="form.category" v-if="form.newCategory"></el-input>
          <el-select
            v-model="form.category"
            placeholder="Выберите категорию должности"
            v-if="!form.newCategory"
          >
            <el-option v-for="item in categories" :key="item" :label="item" :value="item"></el-option>
          </el-select>
        </el-form-item>
        <el-form-item label="Новый тип должности">
          <el-switch v-model="form.newCategory" value="false"></el-switch>
        </el-form-item>
        <el-form-item label="Должность" prop="post">
          <el-input v-model="form.post"></el-input>
        </el-form-item>
        <el-form-item label="Образование" prop="education">
          <el-input v-model="form.education"></el-input>
        </el-form-item>
        <el-form-item label="Стаж" prop="experience">
          <el-input v-model="form.experience"></el-input>
        </el-form-item>
        <el-form-item label="Фотография">
          <input
            v-if="!imagePreview"
            id="fl_inp"
            type="file"
            accept="image/*"
            name="file"
            ref="myFiles"
            @change="setFile"
          />
          <el-button v-if="imagePreview" @click="deleteImg()">Удалить изображение</el-button>
          <img v-if="imagePreview" :src="imagePreview" class="avatar" style="object-fit: contain"/>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm(form)" class="submit_button">Изменить</el-button>
          <el-button @click="$router.push('/adminworkers')">Отмена</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";
export default {
  components: { TitleSection },
  beforeMount() {
    if (this.$store.state.workerItemData.surname == undefined)
      this.$router.push('/adminworkers')
    let categories = [];
    axios.get("/api/workers").then(res => {
      res.data.forEach(el => {
        if (categories.indexOf(el.category) == -1) categories.push(el.category);
      });
    });
    this.categories = categories;
  },
  data() {
    return {
      imagePreview: this.$store.state.workerItemData.img_way == null ? "" : "http://school12batysk.ru/server/imgs/" + this.$store.state.workerItemData.img_way,
      loading: false,
      categories: [],
      loading: false,
      form: {
        surname: this.$store.state.workerItemData.surname,
        name: this.$store.state.workerItemData.name,
        lastname: this.$store.state.workerItemData.lastname,
        education: this.$store.state.workerItemData.education,
        experience: this.$store.state.workerItemData.experience,
        post: this.$store.state.workerItemData.post,
        category: this.$store.state.workerItemData.category,
        file: this.$store.state.newItemData.img_way,
        newCategory: false,
        fileupdate: false,
      },
      rulesForm: {
        surname: [
          { required: true, message: "Введите фамилию" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        name: [
          { required: true, message: "Введите имя" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        lastname: [
          { required: true, message: "Введите отчество" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        post: [
          { required: true, message: "Введите должность" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        category: [
          { required: true, message: "Введите тип должности" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        education: [
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        experience: [
          { min: 1, max: 2, message: "Длина от 1 до 2 цифр" },
        ],
      }
    };
  },
  methods: {
    deleteImg() {
      this.form.file = null
      this.imagePreview = null
    },
    setFile() {
      let file = this.$refs.myFiles.files[0];
      if (file == undefined) {
        this.form.file = this.$store.state.workerItemData.img_way;
        this.imagePreview = "http://school12batysk.ru/server/imgs/" + this.$store.state.workerItemData.img_way;
        return;
      }
      if (file.size > 10000000) {
        this.$message.error("Размер файла не более 10МБ");
      } else if (
        file.type != "image/jpeg" &&
        file.type != "image/png" &&
        file.type != "image/gif"
      ) {
        this.$message.error("Изображение должно быть jpg, png, gif");
      } else {
        this.form.file = file;
        let reader = new FileReader();
        reader.onload = () => {
          this.imagePreview = reader.result;
        };
        reader.readAsDataURL(file);
      }
    },
    submitForm(form) {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true;
            let data = new FormData();
            data.set("surname", form.surname);
            data.set("name", form.name);
            data.set("lastname", form.lastname);
            data.set("post", form.post);
            data.set("category", form.category);
            data.set("education", form.education != ""? form.education : null);
            data.set("experience", form.experience != ""? form.experience: null);
            data.set("file", form.file);
            data.set('filename', this.$store.state.workerItemData.img_way)
            axios({
              method: "post",
              url: "/api/workers/update/" + this.$store.state.workerItemData.id,
              data,
              headers: {
                Token: localStorage.getItem("token")
              }
            })
              .then(res => {
                if ((res.status = 201)) {
                  this.$router.push("/adminworkers");
                  this.$message({
                    message: "Сотрудник изменен",
                    type: "success"
                  });
                }
              })
              .catch(error => {
                this.loading = false;
                if (error.response.status == 401) {
                  return this.$message.error(
                    "Некорректные данные или такой сотрудник уже есть"
                  );
                } else if (error.response.status == 403) {
                  this.$store.commit("changeIsAuth", false);
                  this.$router.push("/adminauth");
                  this.$message.error("Нет доступа");
                } else {
                  return this.$message.error("Ошибка");
                }
              });
          } else {
            return this.$message.error("Заполните все поля");
          }
        });
    }
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.form-container {
  display: flex;
  justify-content: center;
  .form {
    width: 500px;
    margin-top: 20px;
  }
}
.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}
.avatar-uploader-icon {
  display: block;
  color: #8c939d;
  width: 100%;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
  margin: 10px 0;
}
.upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
</style>