<template>
  <div class="container">
    <title-section title="Создание новости"></title-section>
    <div class="form-container">
      <el-form :model="form" :rules="rulesForm" class="form" ref="form" v-loading="loading">
        <el-form-item label="Название новости" prop="title">
          <el-input v-model="form.title"></el-input>
        </el-form-item>
        <el-form-item label="Текст" prop="content">
          <el-input type="textarea" v-model="form.content" rows="20"></el-input>
        </el-form-item>
        <el-form-item label="Изображение" prop='file'>
          <input
            id="fl_inp"
            type="file"
            accept="image/*"
            name="file"
            ref="myFiles"
            @change="setFile"
          />
          <img v-if="imagePreview" :src="imagePreview" class="avatar"
          style="object-fit: contain">
        </el-form-item>
          
        <el-form-item>
          <el-button type="primary" @click="submitForm(form)" class="submit_button">Создать</el-button>
          <el-button @click="$router.push('/adminnews')">Отмена</el-button>
        </el-form-item>
      </el-form>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import TitleSection from "@/components/TitleSection.vue";
export default {
  components: { TitleSection },
  data() {
    return {
      imagePreview: null,
      loading: false,
      categories: [],
      loading: false,
      form: {
        title: "",
        content: "",
        file: null
      },
      rulesForm: {
        title: [
          { required: true, message: "Введите название" },
          { min: 2, max: 256, message: "Длина от 2 до 256 символов" }
        ],
        content: [
          { required: true, message: "Введите содержание" },
          { min: 10, max: 6768, message: "Длина от 10 до 6768 символовов" }
        ],
        file: [
          { required: true, message: "Загрузите изображение" },
        ]
      }
    };
  },
  methods: {
    setFile() {
      let file = this.$refs.myFiles.files[0]
      if (file == undefined) {
          this.form.file = null
          this.imagePreview = null
          return
      }
      let fileName = file.name;
      if (file.size > 10000000){
        this.$message.error("Размер файла не более 10МБ")
      } else  if (file.type != "image/jpeg" && file.type != 'image/png' && file.type != 'image/gif'){
        this.$message.error("Изображение должно быть jpg, png, gif")
      }else{
        this.form.file = file
        let reader = new FileReader()
                reader.onload = () => {
                    this.imagePreview = reader.result
                }
                reader.readAsDataURL(file)
      }
    },
      submitForm(form) {
      if (form.file == null) this.$message.error("Загрузите файл");
      else
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.loading = true
            let data = new FormData()
            data.set("title", form.title)
            data.set("content", form.content)
            data.set("file", form.file)

            axios({
              method: "post",
              url: "/api/news/create",
              data,
              headers: {
                  'Token': localStorage.getItem("token")
              }
            })
              .then(res => {
                if ((res.status = 201)) {
                  this.$router.push("/adminnews")
                  this.$message({
                    message: "Новость добавлена",
                    type: "success"
                  });
                }
              })
              .catch(error => {
                this.loading = false
                if (error.response.status == 401) {
                  return this.$message.error(
                    "Некорректные данные или такая новость уже есть"
                  )
                } else if (error.response.status == 403) {
                  this.$store.commit("changeIsAuth", false)
                  this.$router.push("/adminauth")
                  this.$message.error("Нет доступа")
                } else {
                  return this.$message.error("Ошибка")
                }
              });
          } else {
            return this.$message.error("Заполните все поля")
          }
        });
    }
    }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";

.form-container {
  display: flex;
  justify-content: center;
  .form {
    width: 500px;
    margin-top: 20px;
  }
}
.avatar-uploader .el-upload {
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
  }
  .avatar-uploader .el-upload:hover {
    border-color: #409EFF;
  }
  .avatar-uploader-icon {
    display: block;
    color: #8c939d;
    width: 100%;
    text-align: center;
  }
  .avatar {
    width: 178px;
    height: 178px;
    display: block;
  }
  .upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
</style>