
$--color-text-secondary: #FFFFFF;
$--color-primary: #fd9c56;
$--color-info: #909399;
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-table thead {
    color: #909399;
}

.el-pagination {
    display: flex;
    justify-content: center;
    .number, button {
        font-size: 1rem;
        line-height: 2rem;
        height: 2rem;
        padding: 0 0.35rem;
    }
}

.el-menu-item, .el-submenu__title, .el-input__inner, .el-form-item__label, .el-input {
    font-size: 1rem;
}

.menu_container.el-menu {
    background-color: white;
    color: black;
    font-size: 5rem;
}


