<template>
  <div id="app">
    <header-view class="header" v-if="!$store.state.isBadEye"></header-view>
    <nav-menu class="menu" v-if="!$store.state.isBadEye"></nav-menu>
    <mobile-header class="header_mobile" v-if="!$store.state.isBadEye"></mobile-header>
    <bad-eye-header v-if="$store.state.isBadEye"></bad-eye-header>
    <router-view v-loading="$store.state.loading"/>
    <footer-view></footer-view>
    <el-backtop ></el-backtop>
  </div>
</template>


<script>
import HeaderView from '@/views/HeaderView.vue'
import NavMenu from '@/views/NavMenu.vue'
import FooterView from '@/views/FooterView.vue'
import MobileHeader from '@/views/MobileHeader.vue'
import BadEyeHeader from '@/views/BadEyeHeader.vue'




export default {
  components: {
    HeaderView, NavMenu, FooterView, MobileHeader, BadEyeHeader
  }
}
</script>

<style>
#app {
  min-height: 100vh;
  background-color: rgb(245, 245, 245);
  background-attachment: fixed;

}


@media (max-width: 710px)
{
  .header, .menu{
    display: none;
  }
}
</style>
