$container-width: 992px;
.container {
    width: $container-width;
    min-height: 75vh;
    background-color: white;
    margin: auto;
    box-sizing: border-box;
    padding: 20px 80px;
    border: 1px solid #33b1ff;
    border-bottom: none;
    h2 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }
    .image_not {
        width: 200px;
        height: 200px;
        display: flex;
        div {
            margin: auto;
        }
    }
    .one_img {
        width: $container-width * 0.5;
        height: $container-width * 0.5;
        margin: 10px auto;
        display: block;
    }
    .medium_img {
        display: block;
        width: $container-width * 0.3;
        height: $container-width * 0.3;
        margin: 5px 0;
    }
    .small_img {
        display: block;
        width: $container-width * 0.15;
        height: $container-width * 0.15;
        margin: 5px 0;
    }
    .text_content {
        word-break: break-word;
        display: block;
        margin-bottom: 15px;
        line-height: 140%;
    }
    .title_new {
        margin-bottom: 0;
    }
    .date_new {
        margin-bottom: 10px;
        display: block;
    }
    .flex_container_1 {
        width: 650px;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        .img {
            margin-top: 20px;
        }
    }
    .flex_container_2 {
        width: 500px;
        height: auto;
        margin: 10px auto;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        div {
          width: 200px;
          .img {
            display: block;
            margin: 5px auto;
          }
        }
      }
      .big {
        width: 700px;
        height: auto;
      }
      .title_flex_element {
        text-align: center;
        display: block;
        line-height: 100%;
      }
    .list_icon {
        color: rgb(51, 177, 255);
        margin-right: 5px;
    }
    .custom-menu-item {
        display: flex; 
        justify-content: space-between; 
        align-items: center;
        cursor: pointer;
        font-size: 13px;
    }
    .custom-menu-title {
        font-weight: 500;
    }
    .custom-menu-text-content {
        display: block;
        margin: 25px;
        line-height: 160%;
        word-break: break-word;
        font-weight: 500px;
        ul {
            width: 80%;
            margin-left: 20px;
            font-size: 0.7rem;
        }
    }
}
.badEye {
    .text_content {
        font-size: 1.5rem;
    }
    .flex_container_2, .flex_container_1, .one_img, .medium_img, .small_img {
        display: none
    }
    .custom-menu-item {
        font-size: 1.5rem;
    }
}
@media (max-width:992px) {
    .container {
        width: 100vw;
        padding: 20px
    }
}

@media (max-width:710px) {
    .container{
    .one_img, .flex_container_1, .flex_container_2 {
        width: 70vw
    }
}   
}

@media (min-width: 1200px) {
    $container-width: 53vw;
    .container {
        width: 53vw;
        min-height: 50vh;
        .one_img{
            width: 53vw * 0.5;
            height: 53vw * 0.5;
        }
        .medium_img{
            width: 53vw * 0.3;
            height: 53vw * 0.3;
        }
        .small_img{
            width: 53vw * 0.15;
            height: 53vw * 0.15;
        }   
    }
}

