* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    outline: none;
    
}



@media (min-width: 1200px) {
    * {
        font-size: 1vw;
    }
    h2 {
        font-size: 1.5vw;
    }
    h4 {
        font-size: 1.33vw;
    }
}

