<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Горячие линии" subtitle="Полезное"></title-section>
    <span
      class="text_content"
    >Список телефонов «горячей линии» Управления образования и специалистов Управления образования, ответственных за работу с телефонными обращениями граждан по «горячей линии» г. Батайска</span>

    <span class="text_content">
        <strong>5-60-84</strong> - 
      «Горячая линия» по вопросам, касающимся
      общеобразовательных учреждений
      ответственный - ведущий специалист
      Управления образования Бруева Т.А. <br>
      
      <strong>5-60-88</strong> - 
      «Горячая линия» по вопросам, кающимся
      дошкольных образовательных учреждений
      ответственный - ведущий специалист
      Управления образования Дудникова И.Н. <br>
      
      <strong>5-60-84</strong> - 
      «Горячая линия» по вопросам, касающимся
      образовательных учреждений дополнительного
      образования детей и образовательных учреждений
      для детей нуждающихся в психолого-педагогической
      и медико-социальной помощи
      ответственный - ведущий специалист
      Управления образования Чепурненко С.В. <br>
      

      <strong>5-60-88</strong> - 
      «Горячая линия» по вопросам противодействия
      коррупции и иным правовым вопросам
      ответственный - ведущий юрисконсульт
      Управления образования Караваева Н.В.
      
    </span>

    <span
      class="text_content"
    >Телефоны горячей линии Министерства общего и профессионального образования Ростовской области:</span>

    <span class="text_content">
        <strong>(863) 240-64-11</strong> - 
      «Горячая линия» по повышению зарплаты педагогов 
      <br> 

      <strong>8-800-2000-122</strong> - 
      Детский «Телефон доверия» (служба экстренной психологической помощи) 
      <br>

      <strong>(863) 240-81-00</strong> - 
      «Горячая линия» по борьбе с распространением наркотиков 
      <br>

      <strong>(863) 262-35-54</strong> - 
      «Горячая линия» по борьбе с незаконным оборотом алкогольной продукции 
      <br>
      <strong>8-800-555-0-222</strong> - 
      «Единый социальный телефон» консультация по вопросам социальной защиты 
      <br>
      <strong>(863) 240-41-91</strong> - 
      «Стоп, коррупция!»
      
    </span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>