<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
        <title-section title="Информационная безопасность" subtitle="Полезное"></title-section>
    <span
      class="text_content"
    >ПОЛОЖЕНИЕ о работе с персональными данными сотрудников, обучающихся и их родителей (законных представителей) муниципального бюджетного общеобразовательного учреждения СОШ №12
<br><br>
Раздел Нормативное регулирование<br>
Конституция Рoссийской Фeдерации Статья 23, Статья 24<br>
Статья 23<br>
1. Каждый имеет право на неприкосновенность частной жизни, личную и семейную тайну, защиту своей чести и доброго имени.<br>
2. Каждый имеет право на тайну переписки, телефонных переговоров, почтовых, телеграфных и иных сообщений. Ограничение этого права допускается только на основании судебного решения.<br>
Статья 24<br>
1. Сбор, хранение, использование и распространение информации о частной жизни лица без его согласия не допускаются.<br>
2. Органы государственной власти и органы местного самоуправления, их должностные лица обязаны обеспечить каждому возможность ознакомления с документами и материалами, непосредственно затрагивающими его права и свободы, если иное не предусмотрено законом.</span>

<span class="text_content">
    ПАМЯТКА ДЛЯ ОБУЧАЮЩИХСЯ ОБ ИНФОРМАЦИОННОЙ БЕЗОПАСНОСТИ
<br>
НЕЛЬЗЯ<br>
<br><br>
Всем подряд сообщать свою частную информацию (настоящие имя, фамилию, телефон, адрес, номер школы, а также фотографии свои, своей семьи и друзей);<br>
Открывать вложенные файлы электронной почты, когда не знаешь отправителя;<br>
Грубить, придираться, оказывать давление - вести себя невежливо и агрессивно;<br>
Не распоряжайся деньгами твоей семьи без разрешения старших - всегда спрашивай родителей;<br>
Не встречайся с Интернет-знакомыми в реальной жизни - посоветуйся со взрослым, которому доверяешь.<br>
ОСТОРОЖНО<br><br>

Не все пишут правду. Читаешь о себе неправду в Интернете - сообщи об этом своим родителям или опекунам;<br>
Приглашают переписываться, играть, обмениваться - проверь, нет ли подвоха;<br>
Незаконное копирование файлов в Интернете - воровство;<br>
Всегда рассказывай взрослым о проблемах в сети - они всегда помогут;<br>
Используй настройки безопасности и приватности, чтобы не потерять свои аккаунты в соцсетях и других порталах.<br>
МОЖНО<br>

Уважай других пользователей;<br>
Пользуешься Интернет-источником - делай ссылку на него;<br>
Открывай только те ссылки, в которых уверен;<br>
Общаться за помощью взрослым - родители, опекуны и администрация сайтов всегда помогут;<br>
Пройди обучение на сайте "Сетевичок" и получи паспорт цифрового гражданина!<br>
ИНФОРМАЦИОННАЯ ПАМЯТКА ДЛЯ ОБУЧАЮЩИХСЯ<br><br>

С каждым годом молодежи в интернете становиться больше, а школьники одни из самых активных пользователей Рунета. Между тем, помимо огромного количества возможностей, интернет несет и проблемы. Эта памятка должна помочь тебе безопасно находиться в сети.
</span>
    
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>