<template>
  <div class="container" :class="{badEye: $store.state.isBadEye}">
    <title-section title="Информационная безопасность" subtitle="Полезное"></title-section>
    <span class="text_content">Электронный доступ к бибилиотекам страны</span>

    <span class="text_content">
      <ul style='list-style-type: none'>
        <li>
          <a href="http://www.nbmgu.ru/" target="__blank">Научная библиотека МГУ</a>
        </li>
        <li>
          <a href="http://www.rsl.ru/" target="__blank">Российская государственная библиотека (РГБ)</a>
        </li>
        <li>
          <a href="http://www.bookchamber.ru/" target="__blank">Российская книжная палата</a>
        </li>
        <li>
          <a href="http://www.benran.ru/" target="__blank">Библиотека естественных наук РАН</a>
        </li>
        <li>
          <a href="http://lib.adm.gov.ru/" target="__blank">Библиотека администрации Президента Российской Федерации</a>
        </li>
        <li>
          <a href="http://www.shpl.ru/" target="__blank">Государственная публичная историческая библиотека России</a>
        </li>
        <li>
          <a href="http://www.libfl.ru/" target="__blank">Библиотека иностранной литературы им.М.И.Рудомино</a>
        </li>
        <li>
          <a
            href="http://www.scsml.rssi.ru/"  target="__blank"
          >Государственная центральная медицинская библиотека России</a>
        </li>
        <li>
          <a
            href="http://www.gnpbu.ru/"  target="__blank"
          >Государственная научная педагогическая библиотека им.К.Ф.Ушинского</a>
        </li>
        <li>
          <a href="http://www.turgenev.ru/" target="__blank">Библиотека-читальня им.И.С.Тургенева</a>
        </li>
        <li>
          <a
            href="http://www.gpntb.ru" target="__blank"
          >Государственная публичная научно-техническая библиотека (ГПНТБ)</a>
        </li>
      </ul>
    </span>

    <span class="text_content"></span>
  </div>
</template>

<script>
import TitleSection from "@/components/TitleSection.vue";

export default {
  components: {
    TitleSection
  }
};
</script>

<style lang="scss" scoped>
@import "@/assets/styles/styleMain";
</style>